<h1>Esta é uma página exemplo</h1>
<p>Aqui, serão dispostos os dados recebidos pelo XML ou JSON (entre outros) disponibilizados para a solução proposta.</p><br>
<p>Informações atuais sobre os sensores de temperatura:</p>
<table border="1">
<tr>
    <th>Sensor</th>
    <th>Valor</th>
    <th>Minimo</th>
    <th>Maximo</th>
    <th>Descricao</th>
    <th>Modelo</th>
</tr>

<% @todos.each do |list| %>
<tr>
<td>Sensor</td>
    <td><%= list[0]%></td>
    <td><%= list[1] %></td>
    <td><%= list[2] %></td>
    <td><%= list[3] %></td>
    <td><%= list[4] %></td>
</tr>
<%end%>
</table>