<h1>Esta é uma página exemplo</h1>
<p>Aqui, serão dispostos os dados recebidos pelo XML ou JSON (entre outros) disponibilizados para a solução proposta.</p><br>
<p>Informações atuais sobre os sensores de temperatura:</p>
<p>Sensor de temperatura 1</p>
<%= @temperatura1[0] %>
<%= @temperatura1[1] %>
<%= @temperatura1[2] %>
<%= @temperatura1[3] %>
<%= @temperatura1[4] %> <br>

