                                <% if @basicinfo == true %>
								<% user = current_user %>
								<%= form_for(:usuario, :url => {:controller => 'usuarios', :action => 'edit'}) do |f| %>
								<p>Nesta sessão é possível fazer a troca de informações básicas de contato.</p>
								<%= f.hidden_field :username_or_email, :value => user.email %>
								<div class='left_text'>Email*: </div> <div class="basic_infos"><%= f.text_field :username, :value => user.email, :disabled => true %></div>
								<div class='left_text'>Primeiro nome:</div><div class="basic_infos">  <%= f.text_field :first_name, :value => user.first_name.capitalize %> </div>
                  				<div class='left_text'>Ultimo nome:</div> <div class="basic_infos">  <%= f.text_field :last_name, :value => user.last_name.capitalize %> </div>
                  				<div class='left_text'>Telefone:</div> <div class="basic_infos">  <%= f.text_field :fone, :value => user.fone %></div><p>
                  				<div class='left_text'><font type='warning'>* O email só poderá ser trocado mediante abertura de ticket.</font></div>
                  				<div class='left_text'>Para confirmar alterações, insira sua senha:</div> <%= f.password_field :password %>
                  				<%= f.submit 'Salvar Informações' %>
                  				<% normal = false%>
								<% end %>
								<% end %>
								<% if @wallets == true %>
								<% user = current_user %>
								<%= form_for(:usuario, :url => {:controller => 'usuarios', :action => 'edit'}) do |f| %>
								<p>Nesta sessão é possível gereciar seus endereços de carteiras.</p>
								<%= f.hidden_field :username_or_email, :value => user.email %>
								<% atual = current_user %>
								<% if atual.bitcoin != nil %>
								
								<b>Endereço bitcoin: <font color="red"><%= current_user.bitcoin %></font></b><br><b class="font">Para adicionar créditos ao site, envie bitcoins para o endereço acima ou escaneie o QR code abaixo em seu aplicativo preferido.</b>
									
									
									<table class="qr-code">
										<% @qr.modules.each_index do |x| %>
  											<tr>
  											<% @qr.modules.each_index do |y| %>
  											<% if @qr.dark?(x,y) %>
  											<td class="black"/>
  											<% else %>
  											<td class="white"/>
  											<% end %>
  											<% end %>
  											</tr>
  											<% end %>
  											</table>
								
								<% else %>
								Você não possui Endereços de depósito BTC, ainda. Crie abaixo:
								<li class='current'><a href="/criar_carteira" class="button small menu"><text>Criar carteira BTC</text></a></li>
								<% end %>
								<% if atual.litecoin != nil %>
                  				
                  				<b>Endereço Litecoin: <font color="red"><%= current_user.litecoin %></font></b><br><b class="font">Para adicionar créditos ao site, envie litecoins para o endereço acima ou escaneie o QR code abaixo em seu aplicativo preferido.</b>
                  				<table class="qr-code">
										<% @qrl.modules.each_index do |x| %>
  											<tr>
  											<% @qrl.modules.each_index do |y| %>
  											<% if @qrl.dark?(x,y) %>
  											<td class="black"/>
  											<% else %>
  											<td class="white"/>
  											<% end %>
  											<% end %>
  											</tr>
  											<% end %>
  											</table>
                  				
                  				
                  				<% else %>
                  				Você não possui Endereços de depósito LTC, ainda. Crie abaixo:
								<li class='current'><a href="/criar_carteira" class="button small menu"><text>Criar carteira LTC</text></a></li>
								
                  				<% end %>
                  				<% normal = false %>
                  				<% end %>
                  				<% end %>
                  				<% if @notifications == true %>
								<% user = current_user %>
								<%= form_for(:usuario, :url => {:controller => 'usuarios', :action => 'edit'}) do |f| %>
								<p>Todas as notificações estão desativadas até futuras implementações a medida da demanda.</p>
                  				Para confirmar alterações, insira sua senha: <%= f.password_field :password %>
                  				<%= f.submit 'Salvar Notificações' %>
                  				<% normal = false %>
                  				<% end %>
                  				<% end %>
                  				<% if @seguranca == true %>
								<% user = current_user %>
								<%= form_for(:usuario, :url => {:controller => 'usuarios', :action => 'edit'}) do |f| %>
								<p>Nesta sessão é possível apenas trocar a senha. </p>
								<%= f.hidden_field :username_or_email, :value => user.email %>
                  				<div class='left_text'>Digite uma senha nova:</div> <div class="senhas">  <%= f.password_field :senha_nova, :placeholder => 'Senha Nova' %></div>
                  				<div class='left_text'>Confirme a senha:</div> <div class="senhas"> <%= f.password_field :senha_confirm, :placeholder => 'Confirme senha' %></div><p>
                  				<div class='left_text'>Para confirmar alterações, insira sua senha:</div> <%= f.password_field :password %>
                  				<%= f.submit 'Salvar Nova senha' %>
                  				<% normal = false %>
                  				<% end %>
                  				<% elsif @seguranca == nil and @notifications == nil and @wallets == nil and @basicinfo == nil %>
								<% user = current_user %>
								<%= form_for(:usuario, :url => {:controller => 'usuarios', :action => 'edit'}) do |f| %>
								<p>Nesta sessão é possível fazer a troca de informações básicas de contato.</p>
								<div class='left_text'>Email*: </div> <div class="basic_infos"><%= f.text_field :username, :value => user.email, :disabled => true %></div>
								<%= f.hidden_field :username_or_email, :value => user.email %>
								<div class='left_text'>Primeiro nome:</div><div class="basic_infos">  <%= f.text_field :first_name, :value => user.first_name.capitalize %> </div>
                  				<div class='left_text'>Ultimo nome:</div> <div class="basic_infos">  <%= f.text_field :last_name, :value => user.last_name.capitalize %> </div>
                  				<div class='left_text'>Telefone:</div> <div class="basic_infos">  <%= f.text_field :fone, :value => user.fone %></div><p>
                  				<div class='left_text'><font type='warning'>* O email só poderá ser trocado mediante abertura de ticket.</font></div>
                  				<div class='left_text'>Para confirmar alterações, insira sua senha:</div> <%= f.password_field :password %>
                  				<%= f.submit 'Salvar Informações' %>
                  				<% end %>
                  				<% end %>