	<head>
	<style>
	hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
td[type=finished]{
	font-family: "Courier New", Times, serif;
 	
 	text-align:center;
 	font-weight: bold;
 	font-size: 12px;
 	border: 2px;
 	border-style: solid;
 	
 }

 td[type=waiting]{
 	
 	border: 2px;
 	border-style: solid;
 	font-weight: bold;
 	font-size: 10px;
 	
 }
 h3{
 	font-weight: bold;
 }
 table {
 	border: 2px;
 }
 div[type=format_text]{
 	height: 100%;
 	width: 60%;
 	margin-left:auto;
 	margin-right:auto;
 	text-align: justify;
 	font-size: 15px;
 }
 section {
 	margin-top: -5%;
 	height: 100%;
 	width: 80%;
 	background-color: #FFFFFF;
 	text-align: center;
 	margin-left: auto;
    margin-right: auto;
    padding: 10px;
 }
 article{background-color: #cccccc;
 	
 }

</style>
</head>
<body class="contact">
	
		<!-- Main -->
			<article id="main">

				<header class="special container">
					
				</header>
					
				<!-- One -->
					<section >
					
						<!-- Content -->
							<div class="content">
								<h3><p>Pedidos pendentes</h3>
								<div type='format_text'>Se você já enviou o volume correto para o endereço clique em "Verificar pagamento" para confirmar o pagamento. Verifique as informações antes de finalizar a confirmação utilizando o botão "Editar dados". (Esta sessão é para pagamentos em BITCOIN especificamente. Ou para pagamentos ainda não confirmados pela operadora selecionada.)</p></div>
									<table style="width:100%">
										
											<tr>
									 	  	    <td>Status</td>
									 	  	    <td>Endereço</td>
									 	  	    <td>Volume / Moeda</td>
									 	  	    <td>Data</td>
									 	  	    <td>Excluir</td>
									 	  	    <td>Opções</td></td>
									 	  	    </tr><font size='2'>
										<% @pagamentos.each do |h| %>
										<% if h.usuario == username and h.status == 'success'%>
									 	  	    <tr>
									 	  	    <td type='waiting'> Aguardando pagamento</td>
									 	  	    <td type='waiting'> <%= h.address %></td>
									 	  	    <td type='waiting'><b><%= h.volume %></b> <b><%= h.produtos.upcase %></b></td>
									 	  	    <td type='waiting'><% data = h.created_at.to_s.split(" ") %> <%= data[0]%> </tr></b>
									 	  	    <td type='waiting'><%= link_to "Excluir",  list_path(:id => h.postcode), method: "post", data: { confirm: "Esta ação não poderá ser desfeita, prosseguir?"} %><br></td>
									 	  	    <td type='waiting'><%= link_to "Verificar Pagamento",  submit_path(:id => h.address), method: "post" %></td>
									 	  	    </tr>
										<% end %>
										
										<% if h.usuario ==username and h.status == 'Aguardando pgto' and h.network == 'coinpayments' %>
										<tr>
										<p><td type='waiting'> Aguardando pagamento </td>
										<td type='waiting'> <%= h.address %></td>
										<td type='waiting'><b><%= h.volume %></b> <b><%= h.produtos.upcase %></b></b></td>
										<td type='waiting'><% data = h.created_at.to_s.split(" ") %> <%= data[0]%> </td></b>
										<td type='waiting'><%= link_to "Excluir",  list_path(:id => h.id), method: "post", data: { confirm: "Esta ação não poderá ser desfeita, prosseguir?"} %> </td>
										<td type='waiting'><a href="<%= h.endereco%>">Realizar pgto.</a></tr>
										<% end %>
										
										<% if h.usuario ==username and h.status == 'incompleta' and h.network == 'pagseguro' %>
										<tr>
										<p><td type='waiting'> Confirmação em andamento </td>
										<td type='waiting'> <%= h.address %></td>
										<td type='waiting'><b><%= h.volume %></b> <b><%= h.produtos.upcase %></b></b></td>
										<td type='waiting'><% data = h.created_at.to_s.split(" ") %> <%= data[0]%> </td></b>
										<td type='waiting'><%= link_to "Excluir",  list_path(:id => h.id), method: "post", data: { confirm: "Esta ação não poderá ser desfeita, prosseguir?"} %> </td>
										<td type='waiting'><a href="<%= h.endereco%>">Realizar pgto.</a></tr>
										<% end %>
										<% if h.usuario ==username and h.status == 'incompleta' and h.network == 'paypal' %>
										<tr>
										<p><td type='waiting'> Confirmação em andamento </td>
										<td type='waiting'> <%= h.address %></td>
										<td type='waiting'><b><%= h.volume %></b> <b><%= h.produtos.upcase %></b></b></td>
										<td type='waiting'><% data = h.created_at.to_s.split(" ") %> <%= data[0]%> </td></b>
										<td type='waiting'><%= link_to "Excluir",  list_path(:id => h.id), method: "post", data: { confirm: "Esta ação não poderá ser desfeita, prosseguir?"} %> </td>
										<td type='waiting'><a href="<%= h.postcode%>">Realizar pgto.</a></tr>
										<% end %>
										<% if h.usuario == username and h.status == 'waiting confirmation'%>
										<p><td type='waiting'>- Confirmação em andamento </td>
										<td type='waiting'> <%= h.address %></td>
										<td type='waiting'><b><%= h.volume %></b> <b><%= h.produtos.upcase %></b></b></td>
										<td type='waiting'><% data = h.created_at.to_s.split(" ") %> <%= data[0]%> </td></b>
										<td type='waiting'> <%= link_to "Excluir",  list_path(:id => h.id), method: "post", confirm: "Esta ação não poderá ser desfeita, prosseguir?" %> </td>
										<td>|<%= link_to "Verificar Pagamento",  submit_path(:id => h.address), method: "post" %>|</td>
										<% end %>
										<% end %></font>
									</table>
									</div>
									<hr>
									<p><h3>Pedidos aceitos (Na fila para envio)<br></h3>
									<div type="format_text">Abaixo estão pagamentos já aceitos, porém ainda não foram enviados para o endereço cadastrado. Assim que forem enviados, você os verá em "Transações fechadas", no fim da página.</div>
									<table style="width:100%"></p>
										<tr>
									 	  	    <td>Status</td>
									 	  	    <td>Volume / Moeda</td>
									 	  	    <td>Data</td>
									 	  	    <td>Tipo de operação</td>
									 	  	    <td>Opções</td>
									 	  	    </tr>
									 	  	    <font size='2'>
										<% @pagamentos.each do |h| %>
										<% if h.usuario == username and h.status == 'accepted'%>
										<td type='waiting'> Transação aceita. </td>
										<td type='waiting'><b><%= h.volume %></b> <b><%= h.produtos.upcase %> </b> </td>
										<td type='waiting'><% updata = h.updated_at.to_s.split(" ")%> <%= updata[0] %> </td>
										<% if h.network == 'pagseguro'%>
										<td type='waiting'> Pagseguro </td>
										<% end %>
										<% if h.network == 'paypal'%>
										<td type='waiting'> Paypal </td>
										<% end %>
										<td type='waiting'><%= link_to "Detalhes",  list_path(:id => h.address), method: "post" %><br></div></tr>
										<% end %>
										<% end %>
										</font>
									</table>
									<hr>
									<p><h3>Transações fechadas.<br></h3>
									<div type="format_text">Abaixo você encontrará a listagem de pedidos que você fez e que foram enviados, bem como os detalhes específicos de cada um.</p></div>
									
									<table style="width:100%">
									 			<tr>
									 	  	    <td>Status</td>
									 	  	    <td>Volume / Moeda</td>
									 	  	    <td>Identificador</td>
									 	  	    <td>Tipo de operação</td>
									 	  	    <td>Endereço que foi enviado</td>
									 	  	    </tr><font size="2">
									 	  	    <% @pagamentos.each do |h| %>
									 	  	    <% if h.usuario == username and h.status == 'send'%>
									 	  	    <tr>
									 	  	    <td type='finished'> Pedido enviado</td>
									 	  	    <td type='finished'><b><%= h.volume %></b> <b><%= h.produtos.upcase %></b></td>
									 	  	    <td type='finished'>Bitcoin </td>
									 	  	    <td type='finished'><%= h.user_id%><br></td>
									 	  	    <td type='finished'><%= h.endereco%></td>
									 	  	    </tr>
									 	  	    <% else %>
									 	  	    <% if h.usuario == username and h.status == 'retirado'%>
									 	  	    <tr>
									 	  	    <td type='finished'> Pedido Finalizado</td>
									 	  	    <td type='finished'><b><%= h.volume %></b> <b><%= h.produtos.upcase %></b></td>
									 	  	    <td type='finished'>Bitcoin </td>
									 	  	    <td type='finished'><%= h.user_id%><br></td>
									 	  	    <td type='finished'><%= h.address%></td>
									 	  	    </tr>
									 	  	    <% end %>
									 	  	    <% end %>
									 	  	    <% if h.usuario == username and h.status == 'pago'%>
									 	  	    <tr>
									 	  	    	<td type='finished'> <a href='https://tbtc.blockr.io/tx/info/<%= h.txid_blockchain %>'>Pedido Finalizado</a></td>
									 	  	    	<td type='finished'><b><%= h.volume %></b> <b><%= h.produtos.upcase%> </b></td>
									 	  	    	<% if h.network == 'pagseguro'%>
									 	  	    	<td type='finished'><%= h.pagseguro %> </td>
									 	  	    	<td type='finished'>Pagseguro<br></td>
									 	  	    	<% end %>
									 	  	    	<% if h.network == 'paypal'%>
									 	  	    	<td type='finished'><%= h.endereco %> </td>
									 	  	    	<td type='finished'>Paypal<br></td>
									 	  	    	<% end %>
									 	  	    	<% if h.network == 'coinpayments'%>
									 	  	    	<td type='finished'><%= h.postcode %> </td>
									 	  	    	<td type='finished'>CoinPayments.net<br></td>
									 	  	    	<% end %>
									 	  	    	<td type='finished'><%= h.address%></td>	
									 	  	    </tr>
									 	  	    <% end %>
										<% end %></font>
									 	  	   	</table> 
							</div>
							</h4>
					</section>
				
			</article>

		<!-- Footer -->
			<footer id="footer">
			
				<ul class="icons">
					
				</ul>
				
				<ul class="copyright">
					<li>&copy; Krobellus market</li>
				</ul>
			
			</footer>

	</body>
</html>
