<body class="contact">
	
		<!-- Main -->
			<article id="main">

				<header class="special container">
					
				</header>
					
				<!-- One -->
					<section class="wrapper style4 special container small">
					
						<!-- Content -->
							<div class="content">
								<h3><p>Pedidos pendentes</h3>
								<font size="3">Se você já enviou o volume correto para o endereço clique em "Verificar pagamento" para confirmar o pagamento.<BR>Verifique as informações antes de finalizar a confirmação utilizando o botão "Editar dados".</font></p>
									<table>
										<th><tr>Status,            </tr></th>
										<th><tr>Volume / Moeda,      </tr></th>
										<th><tr>Pedido feito em,      </tr></th>
										<th><tr>Opções          </tr></th>
										<th><tr>Extras</tr></th>
										<font size="3"><% @pagamentos.each do |h| %>
										<% if h.usuario == username and h.status == 'success'%>
										<p><tr>Esperando receber </tr>
										<tr><b><%= h.volume %></b> <b><%= moeda(h.network)%></b></b></tr>
										<tr><% data = h.created_at.to_s.split(" ") %> <%= data[0]%> </tr></b>
										<tr></tr>Editar dados </tr>
										<tr><%= link_to "Verificar Pagamento",  submit_path(:id => h.address), method: "post" %><br></tr></p>
										<% end %></font>
										<% end %>
									</table>
									</div>
									<p>Pedidos aceitos (Na fila para envio)</p>
									<table border="1">
										<% @pagamentos.each do |h| %>
										<% if h.usuario == username and h.status == 'accepted'%>
										<tr><%= h.status %> </tr>
										<tr><%= h.volume %> </tr>
										<tr><%= h.label %> </tr>
										<tr><%= h.created_at %> </tr>
										<tr><%= link_to "Verificar",  submit_path(:id => h.address), method: "post" %></div></tr>
										<% end %>
										<% end %>
									</table>
									<p>Detalhes</p>
							</div>
							
					</section>
				
			</article>

		<!-- Footer -->
			<footer id="footer">
			
				<ul class="icons">
					
				</ul>
				
				<ul class="copyright">
					<li>&copy; Krobellus market</li>
				</ul>
			
			</footer>

	</body>
</html>
