	<head>
	<style>
td[type=finished]{
 	color:blue;
 	text-align:center;
 	
 	
 }
</style>
</head>
<body class="contact">
	
		<!-- Main -->
			<article id="main">

				<header class="special container">
					
				</header>
					
				<!-- One -->
					<section class="wrapper style4 special container small">
					
						<!-- Content -->
							<div class="content">
								<h3><p>Pedidos pendentes</h3>
								<font size="3">Se você já enviou o volume correto para o endereço clique em "Verificar pagamento" para confirmar o pagamento.<BR>Verifique as informações antes de finalizar a confirmação utilizando o botão "Editar dados".</font></p>
									<table>
										<font size="2"><th><tr>Status,            </tr></th>
										<th><tr>Volume / Moeda,      </tr></th>
										<th><tr>Pedido feito em,      </tr></th>
										<th><tr>Opções          </tr></th>
										<th><tr>Extras</tr></th></font>
										<font size="3"><% @pagamentos.each do |h| %>
										<% if h.usuario == username and h.status == 'success'%>
										<font color='red'><p><tr>- Aguardando pagamento </tr>
										<tr><b><%= h.volume %></b> <b><%= moeda(h.network)%></b></b></tr>
										<tr><% data = h.created_at.to_s.split(" ") %> <%= data[0]%> </tr></b>
										<tr></tr><%= link_to "Detalhes",  list_path(:id => h.address), method: "post" %> </tr>
										<tr>|<%= link_to "Verificar Pagamento",  submit_path(:id => h.address), method: "post" %>|</tr>
										<% end %>
										<% if h.usuario == username and h.status == 'waiting confirmation'%>
										<p><tr>- Confirmação em andamento </tr>
										<tr><b><%= h.volume %></b> <b><%= moeda(h.network)%></b></b></tr>
										<tr><% data = h.created_at.to_s.split(" ") %> <%= data[0]%> </tr></b>
										<tr></tr> </tr>
										<tr>|<%= link_to "Verificar Pagamento",  submit_path(:id => h.address), method: "post" %>|</tr>
										<% end %></font>
										<% end %></font>
									</table>
									</div>
									<p>Pedidos aceitos (Na fila para envio)</p>
									<font size="3">Abaixo estão pagamentos já aceitos, porém ainda não foram enviados para o endereço cadastrado. Assim que forem enviados, você os verá em "Transações fechadas", no fim da página.</font></p>
									<table border="1">
										<font size="2" ><tr>Status,            </tr>
										<th><tr>Volume / Moeda,      </tr></th>
										<th><tr>Pedido Atualizado em,      </tr></th>
										<th><tr>	Opções          </tr></th>
										<th><tr>Extras</tr></th><br></font><font color='green'>
										<% @pagamentos.each do |h| %>
										<% if h.usuario == username and h.status == 'accepted'%>
										<tr>- Transação aceita. </tr>
										<tr><b><%= h.volume %></b> <b><%= moeda(h.network) %></b> </tr>
										<tr><% updata = h.updated_at.to_s.split(" ")%> <%= updata[0] %> </tr>
										<tr>  </tr>
										<tr><%= link_to "Detalhes",  list_path(:id => h.address), method: "post" %><br></div></tr>
										<% end %>
										<% end %></font>
									</table>
									<p>Transações fechadas.
									Abaixo você encontrará a listagem de pedidos que você fez e que foram enviados.</p>
									 
									<table style="width:100%">
									 			<tr>
									 	  	    <td>Status</td>
									 	  	    <td>Volume / Moeda</td>
									 	  	    <td>Cod. rastreamento</td>
									 	  	    <td>Admin que enviou</td>
									 	  	    <td>Data de envio</td>
									 	  	    </tr>
									 	  	    <% @pagamentos.each do |h| %>
									 	  	    <% if h.usuario == username and h.status == 'send'%>
									 	  	    <tr>
									 	  	    <td type='finished'> Pedido enviado</td>
									 	  	    <td type='finished'><b><%= h.volume %></b> <b><%= moeda(h.network) %></b></td>
									 	  	    <td type='finished'><%= h.label %> </td>
									 	  	    <td type='finished'><%= h.user_id%><br></td>
									 	  	    <td type='finished'><%= h.endereco%></td>
									 	  	    </tr>
									 	  	    <% else %>
									 	  	    <% if h.usuario == username and h.status == 'retirado'%>
									 	  	    <tr>
									 	  	    <td type='finished'> Pedido Finalizado</td>
									 	  	    <td type='finished'><b><%= h.volume %></b> <b><%= moeda(h.network) %></b></td>
									 	  	    <td type='finished'><%= h.label %> </td>
									 	  	    <td type='finished'><%= h.user_id%><br></td>
									 	  	    <td type='finished'><%= h.endereco%></td>
									 	  	    </tr>
									 	  	    <% end %>
									 	  	    <% end %>
										<% end %></font>
									 	  	   	</table> 
							</div>
							
					</section>
				
			</article>

		<!-- Footer -->
			<footer id="footer">
			
				<ul class="icons">
					
				</ul>
				
				<ul class="copyright">
					<li>&copy; Krobellus market</li>
				</ul>
			
			</footer>

	</body>
</html>
