<!DOCTYPE HTML>

<style>
    input[name=error] {
      color: red;
    }
    
article{
 	top: 4%;
  background-color: #cccccc;
  padding-bottom: 50px;
 }
    input[name=username_or_email]:focus, input[name=login_password]:focus{
        color: white;
        background: black;
    }
    div[class=upper]{
    	top: 10%;
		
    }
    section[id=upper]{
        top: 4%;
    }
</style>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
	<body class="contact">
	
		<!-- Main -->
			<article id="main2">

				<header class="special container" >
					<div class="upper"><h2>Log in</h2>
					<p>Preencha o formulário abaixo para fazer login.</p></div>
				</header>
					
				<!-- One -->
					<section class="wrapper style4 special container small" alinhar="upper" id="upper">
					
						<!-- Content -->
							<div class="content">
								<font color='red'><%= @messages %></font>
								<%= label_tag @logged, nil, disabled: true%>
								<div class= "Sign_Form">
                                <%= form_tag(:controller => 'sessions', :action => 'login_attempt') do %>
                                <%= text_field_tag :username_or_email, nil, placeholder: 'Username ou Email' %></p>
                                <p><%= password_field_tag :login_password, nil, placeholder: 'Senha' %></p>
                                <div class="g-recaptcha" data-sitekey="6LeGcxsUAAAAAIYoK-i5Zpeu58qj8e_72WgbkQLX"></div><br>
                                <%= submit_tag("Log In") %>
                                <% end %>
                                <ul class="Signin_Errors">
                                <a href="/forget">Esqueceu a senha?</a><br>
                                <a href="/register">Registre-se agora!</a>
                                </ul>
                                </div>
							</div>
							
					</section>
				
		<% @hide = true %>