<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<style>
    input[name=error] {
      color: red;
    }
    
article{
 	margin-top: -7%;
  background-color: #cccccc;
 }
    input[name=username_or_email]:focus, input[name=login_password]:focus{
        color: white;
        background: black;
    }
    div[class=upper]{
    	margin-top: -5%;
		margin-bottom: -5%;
    }
    
</style>

	<body class="contact">
	
		<!-- Main -->
			<article id="main">

				<header class="special container" >
					<div class="upper"><h2>Log in</h2>
					<p>Efetue login nesta página para realizar compras.</p></div>
				</header>
					
				<!-- One -->
					<section class="wrapper style4 special container small" alinhar="upper">
					
						<!-- Content -->
							<div class="content">
								<font color='red'><%= @messages %></font>
								<%= label_tag @logged, nil, disabled: true%>
								<div class= "Sign_Form">
                                <%= form_tag(:controller => 'sessions', :action => 'login_attempt') do %>
                                <%= text_field_tag :username_or_email, nil, placeholder: 'Username ou Email' %></p>
                                <p><%= password_field_tag :login_password, nil, placeholder: 'Senha' %></p>
                                <%= submit_tag("Log In") %>
                                <% end %>
                                <ul class="Signin_Errors">
                                <a href="/forget">Esqueceu a senha?</a><br>
                                <a href="/register">Registre-se agora!</a>
                                </ul>
                                </div>
							</div>
							
					</section>
				
			</article>

		<!-- Footer -->
			<footer id="footer">
			
				<ul class="icons">
					
				</ul>
				
				<ul class="copyright">
					<li>&copy; Cripto Cambio Exchange</li>
				</ul>
			
			</footer>

	</body>
</html>

