<style>
	article{
 	margin-top: -10%;
  background-color: #cccccc;
 }
 table.qr-code {
  width: 150px;
  height: 150px;
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
}
table.qr-code td {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  width: 5px;
  height: 3px;
}
table.qr-code td.black { background-color: #000; }
table.qr-code td.white { background-color: #fff; }
 input[name=menu] {
    height: 40px;
    width: 50%;
    background-color: powderblue;
    font-size: 50%;
}
input[type=text],input[type=password] {
    width: 220px;
    font-size: 80%;
    
}
input[id=carteira] {
    width: 440px;
    font-size: 80%;
    
}
  div{
  	
  }
  .basic_infos{
  	
  	width: 300px;
    margin: 0 auto;
    margin-top: -3.5%;
    margin-left: 18.8%;
  	
  }
  .left_text{
  	text-align: left;
  }
  .senhas{
  	width: 300px;
    margin: 0 auto;
    margin-top: -3.5%;
    margin-left: 28.5%;
  }
  .wallets{
  	width: 300px;
    margin: 0 auto;
    margin-top: -3.5%;
    margin-left: 30.5%;
  }
</style>
<body class="contact">
	
		<!-- Main -->
			<article id="main2">

				<header class="special container">
					
				</header>
					
				<!-- One -->
					<section class="wrapper style4 special container small">
					
						<!-- Content -->
						<%= link_to "Voltar", :controller => 'sessions', :action =>'home', :id => session[:user_id]%>
						<%= form_for(:config, :url => {:controller => 'sessions', :action => 'setting'}) do |j| %>
						<table style="height:45%">
									 			<tr>
									 	  	    <td id='preco_tipo'><%= j.submit 'Informações básicas', :name => 'menu'  %></td>
									 	  	    
									 	  	    <td><%= j.submit 'Notificações', :name => 'menu'  %></td>
									 	  	    <td><%= j.submit 'Segurança', :name => 'menu'  %></td>
									 	  	    </tr>
									 	  	    </table>
						<% end %>
							<div class="content">
								<%= render :partial => 'sessions/configs'%>
								
							</div>
							
					</section>
				