<style>
	article{
 	margin-top: -7%;
  background-color: #cccccc;
 }
 input[name=menu] {
    height: 40px;
    width: 50%;
    background-color: powderblue;
    font-size: 50%;
}
  
</style>
<body class="contact">
	
		<!-- Main -->
			<article id="main">

				<header class="special container">
					
				</header>
					
				<!-- One -->
					<section class="wrapper style4 special container small">
					
						<!-- Content -->
						<%= link_to "Voltar", :controller => 'sessions', :action =>'home', :id => session[:user_id]%>
						<%= form_for(:config, :url => {:controller => 'sessions', :action => 'setting'}) do |j| %>
						<table style="height:45%">
									 			<tr>
									 	  	    <td id='preco_tipo'><%= j.submit 'Informações básicas', :name => 'menu'  %></td>
									 	  	    <td  id='valor_preco'><%= j.submit 'Carteiras', :name => 'menu'  %></td>
									 	  	    <td><%= j.submit 'Notificações', :name => 'menu'  %></td>
									 	  	    <td><%= j.submit 'Segurança', :name => 'menu'  %></td>
									 	  	    </tr>
									 	  	    </table>
						<% end %>
							<div class="content">
								<%= render :partial => 'configs'%>
								
							</div>
							
					</section>
				
			</article>

		<!-- Footer -->
			<footer id="footer">
			
				<ul class="icons">
					
				</ul>
				
				<ul class="copyright">
					<li>&copy; Krobellus market</li>
				</ul>
			
			</footer>

	</body>
</html>
