<style>
	
 table.qr-code {
  width: 150px;
  height: 150px;
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
}
table.qr-code td {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  width: 5px;
  height: 3px;
}
table.qr-code td.black { background-color: #000; }
table.qr-code td.white { background-color: #fff; }
</style>
<table style="width:40%">
    <tr>
        <td>
            Valor descontado: 
        </td>
        <td>
            <%= text_field_tag "taxac", @taxa_cripto, :id => 'tax_card', :disabled => true%>
        </td>
    </tr>
</table>
<font style="font-size:70%;font-weight: bold;"><b id="tax"></b></font>
<br>
<% if params['commit'] == nil %>
<b id='validate'><%= submit_tag "Continuar" %> </b>
<% end %>
</form>
<% if @qr != nil%>
<font style="font-size:70%;">Este endereço foi gerado automaticamente a partir da moeda que você selecionou acima.<br>
Por favor, envie a quantidade de <b style="font-weight: bold;color: red;"><%= @valor %> <%= @moeda %></b> para o endereço especificado abaixo ou seu depósito pode <b style="font-weight: bold;">correr o risco de não ser contabilizado!</b><br>
Seu saldo irá automaticamente ser atualizado a partir das confirmações da rede necessárias para completar a transação.</font><br>
Este endereço será válido para transações realizadas em até 1 hora a partir do momento da solicitação.
    <table class="qr-code">
										<% @qr.modules.each_index do |x| %>
  											<tr>
  											<% @qr.modules.each_index do |y| %>
  											<% if @qr.dark?(x,y) %>
  											<td class="black"/>
  											<% else %>
  											<td class="white"/>
  											<% end %>
  											<% end %>
  											</tr>
  											<% end %>
  											</table><br>
Valor: <%= @valor %> <%= @moeda %><br>
Endereço: <%= @address %>
	<% end %>