
<table style="width:35%">
    <tr>
        <td>
            Taxa: 
        </td>
        <td>
            <%= text_field_tag "taxac", @taxa_cripto, :id => 'tax_card', :disabled => true%>
        </td>
    </tr>
</table>
<br>
<% if @moeda == "" %>
<%= submit_tag "Continuar" %>
</form>
<% end %>

<%= form_tag "https://www.coinpayments.net/index.php" do  %>
	<input type="hidden" name="cmd" value="_pay">
	<input type="hidden" name="reset" value="1">
	<input type="hidden" name="merchant" value="b1e3df05f8a772fc276f4b79aef1c551">
	<input type="hidden" name="currency" value=<%= @moeda %>>
	<input type="hidden" name="amountf" value=<%= @valor %>>
	<input type="hidden" name="item_name" value=<%= "#{String(current_user.id) + "/" + @moeda + "/" + @public_payment_key}" %>>		
	<input type="hidden" name="quantity" value="1">
	<input type="hidden" name="allow_quantity" value="0">
	<input type="hidden" name="want_shipping" value="0">
	<input type="hidden" name="success_url" value="https://mkta.herokuapp.com/">
	<input type="hidden" name="cancel_url" value="https://mkta.herokuapp.com/">
	<input type="hidden" name="ipn_url" value="<%= ENV['COINPAY_IPN_URL'] %>">
    <input type="hidden" name="allow_extra" value="0">
    <% if @moeda == "" %>
    <% else %>
	<input type="image" onClick="save_credit()" src="https://www.coinpayments.net/images/pub/buynow-med.png" alt="Buy Now with CoinPayments.net">
	<% end %>
<% end %>