<style>
td[type=extorders] {
    border-style: groove;
   border: 1px solid black;
   text-align: center;
   font-size: 13px;
}
    td[type=intorders] {
    border-style: groove;
   border-bottom: 1px solid black;
   text-align: center;
   font-size: 13px;
}
tr:hover[type=openorders]{
    background-color: #D8D8D8
}
table[type=openorders]{
    border-spacing: 2px;
    border-collapse: separate;
    border-collapse: collapse;
}
</style>

<table style="width: 100%;">
    <tr>
        <th>Ordens de compra</th>
        <th>Ordens de venda</th>
        <th>Ordens executadas</th>
    </tr>
    <tr><!-- Ordens de compra -->
        <td type="extorders"><table type="openorders">
            <!--Consultar ordens aberta do Order.tipo = buy-->
            <tr>
                <td>Quantidade <%= @moeda_par1 %></td>
                <td>Preço <%= @moeda_par2 %></td>
            </tr>
            <% if @consulta_compra != nil %>
            <% @consulta_compra.each do |l| %>
            <tr type="openorders">
                
                <td type="intorders"><%= l.amount %></td>
                <td type="intorders"><%= l.price %></td>
                
                
            </tr>
            <% end %>
            <% end %>
        </table></td>
        <!-- Ordens de venda -->
        <td type="extorders"><table type="openorders">
            <!--Consultar ordens aberta do Order.tipo = buy-->
            <tr>
                <td>Quantidade <%= @moeda_par1 %></td>
                <td>Preço  <%= @moeda_par2 %></td>
            </tr>
            <% if @consulta_venda != nil %>
            <% @consulta_venda.each do |v| %>
            <tr type="openorders">
                
                <td type="intorders"><%= v.amount %></td>
                <td type="intorders"><%= v.price %></td>
                
                
            </tr>
            <% end %>
            <% end %>
            </table>
        </td>
        <!-- ordens executadas -->
        <td type="extorders"><table type="openorders">
            <!--Consultar ordens aberta do Order.tipo = buy-->
            <tr>
                <td>Data</td>
                <td>Tipo</td>
                <td>Quantidade</td>
                <td>Preço</td>
            </tr>
            
            <% if @consulta_realizadas != nil %>
            <% @consulta_realizadas.each do |g| %>
            <tr type="openorders">
                
                <td type="intorders" style="font-size:85%;width:100%;"><%= g.updated_at.strftime('%d/%m %I:%M:%S') %></td>
                <% if g.tipo == "buy" %>
                <td type="intorders">Compra</td>
                <% elsif g.tipo == "sell" %>
                <td type="intorders">Venda</td>
                <% end %>
                <td type="intorders"><%= g.amount %></td>
                <td type="intorders"><%= g.price %></td>
                
            </tr>
            <% end %>
            <% end %>
            </table>
        </td>
    </tr>
    
    </tr>
    <tr>
        
    </tr>
    
</table>