<style>
table[id=Form_order]{
    border-spacing: -2px;
    border-collapse: collapse;
}
</style>
                                <%= form_tag '/new_order', :remote => true %>
									<table style="width: 80%;border: 4px;border-style: bold;" id="form_order">
										<tr>
										<th>Compra:</th>
										<th></th>
										<th></th>
										<th>Venda:</th>
										</tr>
										<%= hidden_field_tag :moeda1, @moeda_par1 %>
										<%= hidden_field_tag :moeda2, @moeda_par2 %>
										<tr>
											<td><h6>Quantidade de <%= @moeda_par1.upcase %>:</h6></td>
											<td><%= text_field_tag :qtd_moeda1buy, nil, :placeholder => @moeda_par1.upcase, :id => "buym1", data: { remote: true, url: url_for( action: :calc_tax, controller: :exchange)} %></td>
											<td></td>
											<td><h6>Quantidade de <%= @moeda_par1.upcase %>: </h6></td>
											<td><%= text_field_tag :qtd_moeda1sell, nil, :placeholder => @moeda_par1.upcase, :id => "sellm1", data: { remote: true, url: url_for( action: :calc_tax, controller: :exchange)}  %></td>
										</tr>
										<tr>
											<td><h6>Preço unitário <%= @moeda_par2.upcase %>:</h6></td>
											<td><%= text_field_tag :qtd_moeda2buy, nil, :placeholder => @moeda_par2.upcase, :id => "buym2", data: { remote: true, url: url_for( action: :calc_tax, controller: :exchange)}  %></td>
											<td></td>
											<td><h6>Preço unitário <%= @moeda_par2.upcase %>:</h6> </td>
											<td><%= text_field_tag :qtd_moeda2sell, nil, :placeholder => @moeda_par2.upcase, :id => "sellm2", data: { remote: true, url: url_for( action: :calc_tax, controller: :exchange)}  %></td>
										</tr>
										<tr>
											<td><h6>Total [<%= @moeda_par2.upcase %>]: </h6></td>
											<td><h6><div id="total_buy"></div></h6></td>
											<td></td>
											<td><h6>Total [<%= @moeda_par2.upcase %>]: </h6></td>
											<td><h6><div id="total_sell"></div></h6></td>
										</tr>
										<tr>
											<td><h6>Comissão [<%= @moeda_par1.upcase %>]: </h6></td>
											<td><h6><div id="comission_buy"></div></h6></td>
											<td></td>
											<td><h6>Comissão [<%= @moeda_par2.upcase %>]: </h6></td>
											<td><h6><div id="comission_sell"></div></h6></td>
										</tr>
										<tr>
											<td><h6>Líquido [<%= @moeda_par1.upcase %>]: </h6></td>
											<td><h6><div id="liquid_buy"></div></h6></td>
											<td></td>
											<td><h6>Líquido [<%= @moeda_par2.upcase %>]: </h6></td>
											<td><h6><div id="liquid_sell"></div></h6></td>
										</tr>
										<tr>
											<td></td>
											<td><h3><%= submit_tag "Comprar", :class => "small" %></h3></td>
											<td></td>
											<td></td>
											<td><h3><%= submit_tag "vender" , :class => "small" %></h3> </td>
										</tr>
									</table>
									</form>