<style>
td[type=extorders] {
    border-style: groove;
   border: 1px solid black;
   text-align: center;
   font-size: 13px;
}
    td[type=intorders] {
    border-style: groove;
   border: 1px solid black;
   text-align: center;
   font-size: 13px;
   
}
tr:hover[type=openorders]{
    background-color: #D8D8D8
}
table[type=openorders]{
    width:80%;
    border-spacing: 2px;
    border-collapse: separate;
    border-collapse: collapse;
}
</style>

        <% if session[:form_tipo] == nil or session[:form_tipo] == "buy" %>
         
        
       <div class="col-sm-6 landing-padding-r">     
                            <div id="ordersrefreshment">
 <div class="tab-content">      
    
     <div id="landing_buy_2" class="tab-pane fade active in">
    <div class="col-sm-12 landing-padding-r">   
       	<!-- SELL ORDERS -->
           <div class="top-text-buy-sell">
           <div class="col-sm-6">
           	            <h5 class="text-center text-uppercase">OFERTAS DE VENDA</h5>
                       </div>
           
           <div class="col-sm-6 ">
           	
          <h5 class="text-center">
                                    <span class="text-monto">
                        Total: 
                        242.51644432 BTC                    </span>
                                </h5>
           	
           </div>
</div>

            <div class="content_3 content mCustomScrollbar _mCS_1 col-sm-12 landing-padding-r" style="height:<%= @order_sell_px %>px;">
                <div style="" id="mCSB_1">
                    <div class="cls_inner_buy" style="overflow-y: scroll; height:400px;">
                        <table type="openorders">
            <!--Consultar ordens aberta do Order.tipo = buy-->
            <% if @consulta_venda != nil %>
            <% if @consulta_venda.empty? %>
            <font id="submit-message">Não Há ordens abertas nesta modalidade de negociação.</font>
            <% else %>
            <tr>
                <td>Quantidade <%= @moeda_par1 %></td>
                <td>Preço <%= @moeda_par2 %></td>
            </tr>
            <% @consulta_venda.each do |l| %>
            <tr type="openorders">
                
                <td type="intorders"><%= l.amount %> <%= @moeda_par1 %></td>
                <td type="intorders"><%= l.price %>  <%= @moeda_par2 %></td>
                
                
            </tr>
            <% end %>
            <% end %>
            <% end %>
        </table>
                    </div>
                    <div style="position: absolute; display: block;" class="mCSB_scrollTools">
                    </div></div></div>

        </div>
    </div>
    
        
        </td>
        <% elsif session[:form_tipo] == "sell" %>
        
            
             <div class="col-sm-6 landing-padding-r">     
                            <div id="ordersrefreshment">
 <div class="tab-content">      
    
     <div id="landing_buy_2" class="tab-pane fade active in">
    <div class="col-sm-12 landing-padding-r">   
       	<!-- SELL ORDERS -->
           <div class="top-text-buy-sell">
           <div class="col-sm-6">
           	            <h5 class="text-center text-uppercase">OFERTAS DE COMPRA</h5>
                       </div>
           
           <div class="col-sm-6 ">
           	
          <h5 class="text-center">
                                    <span class="text-monto">
                        Total: 
                        242.51644432 BTC                    </span>
                                </h5>
           	
           </div>
</div>

            <div class="content_3 content mCustomScrollbar _mCS_1 col-sm-12 landing-padding-r" style="height:<%= @order_sell_px %>px;">
                <div style="" id="mCSB_1">
                    <div class="cls_inner_buy" style="overflow-y: scroll; height:400px;">
                        <table type="openorders" >
            <!--Consultar ordens aberta do Order.tipo = buy-->
            <tr>
                <td>Quantidade <%= @moeda_par1 %></td>
                <td>Preço <%= @moeda_par2 %></td>
            </tr>
            <% if @consulta_compra != nil %>
            <% @consulta_compra.each do |l| %>
            <tr type="openorders">
                
                <td type="intorders"><%= l.amount %>  <%= @moeda_par1 %></td>
                <td type="intorders"><%= l.price %>  <%= @moeda_par2 %></td>
                
                
            </tr>
            <% end %>
            <% else %>
            <tr> <td> Não Há ordens abertas nessa modalidade de negociação.</td></tr>
            <% end %>
        </table>
                    </div>
                    <div style="position: absolute; display: block;" class="mCSB_scrollTools">
                    </div></div></div>

        </div>
    </div>
    
        </td>
        <% end %>
    
   