<!DOCTYPE HTML>
<html>
<head>
<style>

td[type=extorders] {
    border-style: groove;
   border: 1px solid black;
   text-align: center;
   font-size: 13px;
}
    td[type=intorders] {
    border-style: groove;
   border: 1px solid black;
   text-align: center;
   font-size: 13px;
   
}
tr:hover[type=openorders]{
    background-color: #D8D8D8
}
table[type=openorders]{
    width:80%;
    border-spacing: 2px;
    border-collapse: separate;
    border-collapse: collapse;
}

	input[id=pair]{
		background: #14100C;
		font-size: 13px;
		color: white;
 		height: 50px;
	}
	input[id=pair]:hover{
		background: white;
		font-size: 13px;
		color: black;
 		height: 50px;
	}
	input[type=text]{
		width: 170px;
	}
	input[type=submit]{
		width: 60px;
		padding: 4px;
	}
	td{
		width: 250px;
	}
	table { 
    border-spacing: 10px;
    border-collapse: separate;
}
h6{
	font-size:10px;
	font-weight:bold;
}
.h6{
	font-size:10px;
	font-weight:bold;
}
h3{
	font-size:14px;
	font-weight:bold;
}
font[id=submit-message]{
	font-size: 14px;
	font-weight:bold;
	color:red;
}
div[id=order_last]{
    font-size: 14px;
	font-weight:bold;
}
.link{
	cursor: pointer; cursor: hand;
}
.center{
	text-align: center;
	justify-content: center;
	align-items: center;
}
.widthcem{
	width: 100%;
}
.paddingtop{
	padding-top:8px;
}
</style>
<%= javascript_include_tag 'exchange' %>
</head>

	<body class="no-sidebar">
		<!-- Main -->
			<article id="main2">

				<header class="special container">
					<span>Negociações</span>
				</header>
					
				<!-- One -->
					<section class="wrapper style4 container" style="top:-50px;padding-top: 0px;">
					
						<!-- Content -->
							<div class="content" style="">
							<section>
								<div class="row paddingtop widthcem">
									<% pares = "BTC/BRL","LTC/BRL","DOGE/BRL","LTC/BTC","DOGE/BTC","LTC/DOGE"%>
									<% pares.each do |m| %>
									<% set_pair(m)%>
									<% hash, base = last_order_exchange(m)%>
									<% if hash["#{m}/last_buy"] == nil%>
									 <% @buy = "-----" %> 
									<% else %>
									<% str = hash["#{m}/last_buy"] %>
									<% @buy = "#{str} #{base}" %>
									<% end %>
									<% if hash["#{m}/last_sell"] == nil%>
									 <% @sell = "-----" %> 
									<% else %>
									<% strs = hash["#{m}/last_sell"] %>
									<% @sell = "#{strs} #{base}" %>
									<% end %>
									<% par_atual = m.split('/') %>
									<% if par_atual[0] == "BTC" %>
										<% img1 = "btc.png"%>
									<% elsif par_atual[0] == "BRL"%>
										<% img1 = "brl.jpeg"%>
									<% elsif par_atual[0] == "DOGE"%>
										<% img1 = "doge.png"%>
									<% elsif par_atual[0] == "LTC"%>
										<% img1 = "litecoin.png"%>
									<% end %>
									<% if par_atual[1] == "BTC" %>
										<% img2 = "btc.png"%>
									<% elsif par_atual[1] == "BRL"%>
										<% img2 = "brl.jpeg"%>
									<% elsif par_atual[1] == "DOGE"%>
										<% img2 = "doge.png"%>
									<% elsif par_atual[1] == "LTC"%>
										<% img2 = "litecoin.png"%>
									<% end %>
									
									<div class="col-sm-2 center"><ul>
										<li><%= image_tag("#{img1}", :onClick => "pair('[#{m}]')", size: "64x64", :class => "link") %><i class="fa fa-arrow-left" style="color:#333" aria-hidden="true"></i><i class="fa fa-arrow-right" style="color:#333" aria-hidden="true"></i> <%= image_tag("#{img2}", :onClick => "pair('[#{m}]')", size: "64x64", :class => "link") %></li>
										<li>[<%= "#{m}" %>]</li>
										<li class="h6"> <i class="fa fa-arrow-right" style="color:#333" aria-hidden="true"></i> Compra: <%= @buy %> </li>
										<li class="h6"> <i class="fa fa-arrow-right" style="color:#333" aria-hidden="true"></i> Venda: <%= @sell %> </li>
									</ul></div>
									<% end %>
									</div>
					<div id="order_last"><%= render 'orderlast' %></div>
					<font id="submit-message"><div id="message-order-submit"></div></font>
					
									<div class="contentcolor row">
									<div class="col-sm-6"> <div id="order_form"><%= render 'buy_form' %></div></div>
									<div class="col-sm-6"><div id="order_book"><img src="images/loading.gif" height="42" width="42" /></div>	</div>
								    </div><br>
								    
								</section>
								<section>
    
                <div class="row1">
                    <div class="col-sm-12"> 
                        <div id="ordershistory_t" class="row">
<div class="row">
    <div class="col-sm-12">
        <!-- Active orders starts here -->
       <div class="content_3 content mCustomScrollbar _mCS_1 col-sm-12 landing-padding-r"> <div class="cls_buy_ttc ">
            <div class="cls_buy_ttc mar_top">
           

            <h4>Suas ordens abertas atuais</h4>
            
                    <div id="open_orders_table" style="padding-left: 50px;"><img src="images/loading.gif" height="42" width="42" /></div>
                            
         </div> </div>
        <!-- Active orders ends here -->

        <!-- Trade History starts here -->		
        <div class="cls_buy_ttc mar_top mCustomScrollbar _mCS_1">
            <div style="position:relative;overflow:hidden; max-width:100%;" id="mCSB_1" class="mCustomScrollBox mCS-light">
                <h4>História do comércio:</h4>
<div id="history"><img src="images/loading.gif" height="42" width="42" /></div>
        <!-- Trade History ends here -->
    </div>
</div>

</div>
                    </div>
                </div>



                <!-- Sidebar Ends Here -->
            </div>
        </div>

    </div>
</section>









					</section>
					
					

			
