<!DOCTYPE HTML>
<html>
<head>
<style>
	input[id=pair]{
		background: #14100C;
		font-size: 13px;
		color: white;
 		height: 50px;
	}
	input[id=pair]:hover{
		background: white;
		font-size: 13px;
		color: black;
 		height: 50px;
	}
	input[type=text]{
		width: 170px;
	}
	input[type=submit]{
		width: 60px;
		padding: 4px;
	}
	td{
		width: 250px;
	}
	table { 
    border-spacing: 10px;
    border-collapse: separate;
}
h6{
	font-size:10px;
	font-weight:bold;
}
font[id=submit-message]{
	font-size: 14px;
	font-weight:bold;
	color:red;
}
</style>
<script>
	function executeQuery() {
  $.ajax({
    url: 'exchange/order_stats', 
    success: function(data) {
      $('.result').html(data);
    },
    complete: function() {
      // Schedule the next request when the current one's complete
      setTimeout(executeQuery, 8500);
    }
})};
</script>
<script>
$(document).ready(function() {
    console.log("Chamada")
  // run the first time; all subsequent calls will take care of themselves
  setTimeout(executeQuery, 5000);
});
</script>
</head>

	<body class="no-sidebar">
		<!-- Main -->
			<article id="main">

				<header class="special container">
					<h2>Pares de moedas:<strong></strong></h2>
					<%= form_tag "/pair", :remote => true %>
					
					<p><%= submit_tag "[BTC/BRL]", :id => "pair", :class => "small" %><%= submit_tag "[LTC/BRL]", :id => "pair", :class => "small" %><%= submit_tag "[DOGE/BRL]", :id => "pair", :class => "small" %><%= submit_tag "[LTC/BTC]", :id => "pair", :class => "small" %><%= submit_tag "[DOGE/BTC]", :id => "pair", :class => "small" %><%= submit_tag "[LTC/DOGE]", :id => "pair", :class => "small" %></p>
					</form>
					
					<div id="table_overview"><%= render 'table_overview' %></div>
				</header>
					
				<!-- One -->
					<section class="wrapper style4 container" style="top:-50px">
					
						<!-- Content -->
							<div class="content">
								<section>
									<header><%= form_tag "/order_show_form", :remote => true %>
										<h3>Novas Ordens: <%= submit_tag "Mostrar", data: { :remote => true }, :class => "small" %><%= submit_tag "Esconder", data: { :remote => true }, :class => "small" %> </h3> 
									</header>
									<font id="submit-message"><div id="message-order-submit"></div></font>
									<div id="order_form"></div>
									<div id="order_book"><%= render "orderbook" %></div>
								</section>
							</div>

					</section>

				<!-- Two -->
					<section class="wrapper style1 container special">
						<div class="row">
							<div class="4u">
							
								<section>
									<header>
										<h3>This is Something</h3>
									</header>
									<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
									<footer>
										<ul class="buttons">
											<li><a href="#" class="button small">Learn More</a></li>
										</ul>
									</footer>
								</section>
							
							</div>
							<div class="4u">
							
								<section>
									<header>
										<h3>Also Something</h3>
									</header>
									<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
									<footer>
										<ul class="buttons">
											<li><a href="#" class="button small">Learn More</a></li>
										</ul>
									</footer>
								</section>
							
							</div>
							<div class="4u">
							
								<section>
									<header>
										<h3>Probably Something</h3>
									</header>
									<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
									<footer>
										<ul class="buttons">
											<li><a href="#" class="button small">Learn More</a></li>
										</ul>
									</footer>
								</section>
							
							</div>
						</div>
					</section>
					
			</article>

		<!-- Footer -->
			<footer id="footer">
			
				<ul class="icons">
					<li><a href="#" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
					<li><a href="#" class="icon circle fa-github"><span class="label">Github</span></a></li>
					<li><a href="#" class="icon circle fa-dribbble"><span class="label">Dribbble</span></a></li>
				</ul>
				
				<ul class="copyright">
					<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			
			</footer>

	</body>
</html>
