<!DOCTYPE HTML>
<html>
<head>
<style>
	input[id=pair]{
		background: #14100C;
		font-size: 13px;
		color: white;
 		height: 50px;
	}
	input[id=pair]:hover{
		background: white;
		font-size: 13px;
		color: black;
 		height: 50px;
	}
	input[type=text]{
		width: 170px;
	}
	input[type=submit]{
		width: 60px;
		padding: 4px;
	}
	td{
		width: 250px;
	}
	table { 
    border-spacing: 10px;
    border-collapse: separate;
}
h6{
	font-size:10px;
	font-weight:bold;
}
h3{
	font-size:14px;
	font-weight:bold;
}
font[id=submit-message]{
	font-size: 14px;
	font-weight:bold;
	color:red;
}
div[id=order_last]{
    font-size: 14px;
	font-weight:bold;
}
</style>
<%= javascript_include_tag 'application', 'exchange' %>
</head>

	<body class="no-sidebar">
		<!-- Main -->
			<article id="main2">

				<header class="special container">
					
					
					<div id="table_overview"><%= render 'table_overview' %></div>
				</header>
					
				<!-- One -->
					<section class="wrapper style4 container" style="top:-50px;padding-top: 0px;">
					
						<!-- Content -->
							<div class="content" style="">
							<section>
									<%= form_tag "/pair", :remote => true %>
					
					<p><%= submit_tag "[BTC/BRL]", :id => "pair", :class => "small" %><%= submit_tag "[LTC/BRL]", :id => "pair", :class => "small" %><%= submit_tag "[DOGE/BRL]", :id => "pair", :class => "small" %><%= submit_tag "[LTC/BTC]", :id => "pair", :class => "small" %><%= submit_tag "[DOGE/BTC]", :id => "pair", :class => "small" %><%= submit_tag "[LTC/DOGE]", :id => "pair", :class => "small" %></p>
					</form>
					<div id="order_last"><%= render 'orderlast' %></div>
					<font id="submit-message"><div id="message-order-submit"></div></font>
					
									<div class="row">
									<div class="col-sm-4"> <div id="order_form"><%= render 'buy_form' %></div></div>
									<div class="col-sm-4"><div id="order_book"><%= render "orderbook" %></div>	</div>
								    </div><br>
								    
								</section>
								<section>
    
                <div class="row1">
                    <div class="col-sm-12"> 
                        <div id="ordershistory_t" class="row">
<div class="row">
    <div class="col-sm-12">
        <!-- Active orders starts here -->
        <div class="cls_buy_ttc">
            <div class="cls_buy_ttc mar_top">
           

            <h4>Suas ordens ativos atuais</h4>
            
                    <h5><center>Sem ordens ativas no momento</center></h5>
                            
         </div> </div>
        <!-- Active orders ends here -->

        <!-- Trade History starts here -->		
        <div class="cls_buy_ttc mar_top mCustomScrollbar _mCS_1">
            <div style="position:relative;overflow:hidden; max-width:100%;" id="mCSB_1" class="mCustomScrollBox mCS-light">
                <h4>História do comércio:</h4>
<div id="history"><%= order_show_form_url %></div>
        <!-- Trade History ends here -->
    </div>
</div>

</div>
                    </div>
                </div>



                <!-- Sidebar Ends Here -->
            </div>
        </div>

    </div>
</section>









					</section>
					
					

			
