<!DOCTYPE HTML>
<html>
<head>
<style>

td[type=extorders] {
    border-style: groove;
   border: 1px solid black;
   text-align: center;
   font-size: 13px;
}
    td[type=intorders] {
    border-style: groove;
   border: 1px solid black;
   text-align: center;
   font-size: 13px;
   
}
tr:hover[type=openorders]{
    background-color: #D8D8D8
}
table[type=openorders]{
    width:80%;
    border-spacing: 2px;
    border-collapse: separate;
    border-collapse: collapse;
}

	input[id=pair]{
		background: #14100C;
		font-size: 13px;
		color: white;
 		height: 50px;
	}
	input[id=pair]:hover{
		background: white;
		font-size: 13px;
		color: black;
 		height: 50px;
	}
	input[type=text]{
		width: 170px;
	}
	input[type=submit]{
		width: 60px;
		padding: 4px;
	}
	td{
		width: 250px;
	}
	table { 
    border-spacing: 10px;
    border-collapse: separate;
}
h6{
	font-size:10px;
	font-weight:bold;
}
h3{
	font-size:14px;
	font-weight:bold;
}
font[id=submit-message]{
	font-size: 14px;
	font-weight:bold;
	color:red;
}
div[id=order_last]{
    font-size: 14px;
	font-weight:bold;
}
.link{
	cursor: pointer; cursor: hand;
}
.center{
	text-align: center;
	justify-content: center;
	align-items: center;
}
.widthcem{
	width: 100%;
}
.paddingtop{
	padding-top:8px;
}
</style>
<%= javascript_include_tag 'exchange' %>
</head>

	<body class="no-sidebar">
		<!-- Main -->
			<article id="main2">

				<header class="special container">
					
					
					<div id="table_overview"><%= render 'table_overview' %></div>
				</header>
					
				<!-- One -->
					<section class="wrapper style4 container" style="top:-50px;padding-top: 0px;">
					
						<!-- Content -->
							<div class="content" style="">
							<section>
								<div class="row paddingtop widthcem">
									<% set_pair("BTC/BRL")%>
								<div class="col-sm-2 center"><ul><li><%= image_tag("btc.png", :onClick => "pair('[BTC/BRL]')", size: "64x64", :class => "link") %></li><li>[BTC/BRL]</li><%= render 'lastprice' %></ul></div>
								<% set_pair("LTC/BRL")%>
								<div class="col-sm-2 center"><ul><li><%= image_tag("litecoin.png", :onClick => "pair('[LTC/BRL]')", size: "64x64", :class => "link") %></li><li>[LTC/BRL]</li><%= render 'lastprice' %></ul></div>
								<% set_pair("DOGE/BRL")%>
								<div class="col-sm-2 center"><ul><li><%= image_tag("doge.png", :onClick => "pair('[DOGE/BRL]')", size: "64x64", :class => "link") %></li><li>[DOGE/BRL]</li><%= render 'lastprice' %></ul></div>
								<% set_pair("LTC/BTC")%>
								<div class="col-sm-2 center"><ul><li><%= image_tag("litecoin.png", :onClick => "pair('[LTC/BTC]')", size: "64x64", :class => "link") %></li><li>[LTC/BTC]</li><%= render 'lastprice' %></ul></div>
								<% set_pair("DOGE/BTC")%>
								<div class="col-sm-2 center"><ul><li><%= image_tag("doge.png", :onClick => "pair('[DOGE/BTC]')", size: "64x64", :class => "link") %></li><li>[DOGE/BTC]</li><%= render 'lastprice' %></ul></div>
								<% set_pair("LTC/DOGE")%>
								<div class="col-sm-2 center"><ul><li><%= image_tag("litecoin.png", :onClick => "pair('[LTC/DOGE]')", size: "64x64", :class => "link") %></li><li>[LTC/DOGE]</li><%= render 'lastprice' %></ul></div>
								</div>
					<div id="order_last"><%= render 'orderlast' %></div>
					<font id="submit-message"><div id="message-order-submit"></div></font>
					
									<div class="contentcolor row">
									<div class="col-sm-6"> <div id="order_form"><%= render 'buy_form' %></div></div>
									<div class="col-sm-6"><div id="order_book"><img src="images/loading.gif" height="42" width="42" /></div>	</div>
								    </div><br>
								    
								</section>
								<section>
    
                <div class="row1">
                    <div class="col-sm-12"> 
                        <div id="ordershistory_t" class="row">
<div class="row">
    <div class="col-sm-12">
        <!-- Active orders starts here -->
       <div class="content_3 content mCustomScrollbar _mCS_1 col-sm-12 landing-padding-r"> <div class="cls_buy_ttc ">
            <div class="cls_buy_ttc mar_top">
           

            <h4>Suas ordens abertas atuais</h4>
            
                    <div id="open_orders_table" style="padding-left: 50px;"><img src="images/loading.gif" height="42" width="42" /></div>
                            
         </div> </div>
        <!-- Active orders ends here -->

        <!-- Trade History starts here -->		
        <div class="cls_buy_ttc mar_top mCustomScrollbar _mCS_1">
            <div style="position:relative;overflow:hidden; max-width:100%;" id="mCSB_1" class="mCustomScrollBox mCS-light">
                <h4>História do comércio:</h4>
<div id="history"><img src="images/loading.gif" height="42" width="42" /></div>
        <!-- Trade History ends here -->
    </div>
</div>

</div>
                    </div>
                </div>



                <!-- Sidebar Ends Here -->
            </div>
        </div>

    </div>
</section>









					</section>
					
					

			
