<head><style>
	input[type=submit]{ 
	margin-left: 5%;
 	margin-right: 14%;
	height: 50px;

}
td{
 	
 	border: 2px;
 	border-style: solid;
 	font-weight: bold;
 	font-size: 15px;
 	
 }
	
</style></head>
<body class="contact">
	<% if is_admin? != true %>
	<% @messages = 'Tentativa de acesso a área restrita detectada. Favor não insistir.'%>
	<% render '/sessions/loginerror'%>
	<% end %>
		<!-- Main -->
			<article id="main">

				<header class="special container">
					
				</header>
					
				<!-- One -->
					<section class="wrapper style4 special container small">
					
						<!-- Content -->
							<div class="content">
								
									<p>Transações fechadas</p>
									<table style="width:100%">
									 			<tr>
									 	  	    <td>Status</td>
									 	  	    <td>Volume / Moeda</td>
									 	  	    <td>User_id</td>
									 	  	    <td>Detalhes completos</td>
									 	  	    </tr>
									 	  	    <% @pagamentos.each do |h| %>
									 	  	    
									 	  	    <tr>
									 	  	    <td type='finished'> <%= h.status %></td>
									 	  	    <td type='finished'><b><%= h.volume %></b> <b><%= moeda(h.network) %></b></td>
									 	  	    <td type='finished'><%= h.user_id %><br></td>
									 	  	    <td type='finished'><a href="/detalhes">Detalhes</a>
									 	  	    	
									 	  	    	</td>
									 	  	    </tr>
									 	  	    
										<% end %></font>
									 	  	   	</table>
								<%= link_to "Voltar", :controller => 'admin', :action =>'home', :id => session[:user_id]%>
							</div>
							
					</section>
				
			</article>

		<!-- Footer -->
			<footer id="footer">
			
				<ul class="icons">
					
				</ul>
				
				<ul class="copyright">
					<li>&copy; Krobellus market</li>
				</ul>
			
			</footer>

	</body>
</html>
