<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
	<style>
	hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
table.qr-code {
  width: 150px;
  height: 150px;
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
}
table.qr-code td {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  width: 5px;
  height: 3px;
}
table.qr-code td.black { background-color: #000; }
table.qr-code td.white { background-color: #fff; }
article{
 	background-color: #cccccc;
 	margin-top: -10%;
 	padding: 10px;
 	
 }
td[type="title"]{
	text-align:center;
	font-size:25px;
	font-weight:bold;
}
td[type="menu"]{
	text-align:center;
}
label[type="descricao"]{
	width: 10px; height: 55px 
}
input[type=submit]{ 
	width: 23px;
	height: 46px;

}
 .submit{
 	color:white;
 	background: black;
 }
</style>
</head>
	<body class="index">
	<% if is_admin? != true %>
	<% @messages = 'Tentativa de acesso a área restrita detectada. Favor não insistir.'%>
	<% render '/sessions/loginerror'%>
	<% end %>
		
		<!-- Main -->
			<article id="main">

				<header class="special container">
	
					<h2>Painel administrativo restrito </h2>
					<p>Usuario: <font color="red"><b><%= String(username).capitalize %></p></b></font>
				</header>
					
				<!-- One -->
					<section class="wrapper style4 container">
					
						<!-- Content -->
							<div class="content">
								<section>
								    <h1>MENUS</h1>
									 <table style="width:100%">
									 	  <tr>
									 	  	    <td type="title">Área de testes</td>
									 	  	    <td type="title">Pagamentos</td>
									 	  	    <td type="title">Mensagens</td>
									 	  	    </tr>
									 	  	    <tr>
									 	  	    <td type="menu"><%= button_to "Criar carteira BTC", create_wallet_path, :data => { :confirm => 'Ao criar uma carteira vinculada você concorda com os termos de uso do site, prosseguir?' } %></td>
									 	  	    <td type="menu"><%= button_to "Aguardando envio: " + @count.to_s, payment_path%></td>
									 	  	    <td type="menu"><%= button_to "Novas: " + @opened.to_s, msgs_path, :method => 'get' %></td>
									 	  	    </tr>
									 	  	    <tr>
									 	  	   	<td type="menu"><%= button_to "Ver log de negociacoes", post_mercado_btc_path %></td>
									 	  	   	<td type="menu"><%= button_to "Histórico", history_path%></td>
									 	  	   	<td type="menu"><%= button_to "Todas", msgall_path, :method => 'get' %></td>
									 	  	    </tr>
									 	  	    <tr>
									 	  	    <td type="menu"><%= button_to "Listar vendedores", demote_path %></td>
									 	  	    <td type="menu"><%= button_to "Listar Usuarios", demote_path %></td>
									 	  	    <td type="menu"><%= link_to "Exchange", 'exchange' %></td>
									 	  	    </tr>
									 	  	    </table>
									 	  	    <tr>
									 	  	    	<td type="menu"></td>
									 	  	    	<td type="menu"></td>
									 	  	    	<%= form_tag 'storage_create' %>
									 	  	    	<%= select_tag(:storage, "<option>Selecione</option><option>btc</option><option>ltc</option><option>doge</option>".html_safe ) %>
									 	  	    	<td type="menu"><%= submit_tag "Criar Storage" %></form></td><br>
									 	  	    </tr>
									 	  	   	 
									Abaixo se encontram os Storages e a situação de cada um deles:
									<table style="width:75%;">
										<tr>
											<th>Função</th>
											<th>Endereço</th>
											<th>Saldo</th>
											<th>QRcode</th>
										</tr>
										
									<% storages = Storage.all %>
									<% storages.each do |h| %>
									<% @qr = RQRCode::QRCode.new("#{h.endereco}") %>
									<% users = Usuario.all %>
									<% total = 0%>
									<% users.each do |h| %>
									<% if h.saldo != nil %>
									<% total = BigDecimal(total,8) + BigDecimal(h.saldo,8) %>
									<% end%>
									<% end %>
										<tr>
											<td><font style="font-size:12.5px;"><%= h.role %></font><div style="margin-top: 20px;position: static;width: 180px;height: 20px">Saldo dos usuários: </div><br>Saldo em caixa:</td>
											<td><font style="font-size:12.5px;"><%= h.endereco %></font><div style="margin-top: 20px;position: static;width: 180px;height: 20px"><%= total %> <%= h.tipo.upcase %></div><br><%= (consulta_saldo_cripto(h.tipo,h.endereco) - total).to_f %> <%= h.tipo.upcase %></td>
											<td><font style="font-size:12.5px;"><%= consulta_saldo_cripto(h.tipo,h.endereco).to_f %> <%= h.tipo.upcase %></font></td>
											<td>
												<%= render 'qrcode' %>
											</td>
											<td>
												<%= form_tag 'withdrawal_sign' %>
									 	  	    	<%= text_field_tag :valor, "valor" %><br><%= text_field_tag :destino, "endereco de destino" %><%= hidden_field_tag(:endereco, h.endereco ) %><%= hidden_field_tag(:moeda, h.tipo ) %><br>
									 	  	    	<%= submit_tag "Withdrawal" %></form>
											</td>
											
										</tr>
										
									
								<% end %>
									</table>
								</section>
							</div>

					</section>

				<!-- Two -->
					<section class="wrapper style1 container special">
						<div class="row">
							<div class="4u">
							
								<section>
									
								</section>
							
							</div>
							<div class="4u">
							
								<section>
									
								</section>
							
							</div>
							<div class="4u">
							
								<section>
									
								</section>
							
							</div>
						</div>
					</section>
					
			</article>

		<!-- Footer -->
			<footer id="footer">
			
				<ul class="icons">
					
				</ul>
				
				<ul class="copyright">
					<li>&copy; Krobellus market</li>
				</ul>
			
			</footer>

	</body>
</html>