<style>
	td[type=waiting]{
 	
 	
 	font-weight: bold;
 	font-size: 15px;
 	
 }
</style>
<body class="contact">
	<% if is_admin? != true %>
	<% @messages = 'Tentativa de acesso a área restrita detectada. Favor não insistir.'%>
	<% render '/sessions/loginerror'%>
	<% end %>
		<!-- Main -->
			<article id="main2">

				<header class="special container">
					
				</header>
					
				<!-- One -->
					<section class="wrapper style4 special container small">
					
						<!-- Content -->
							<div class="content">
								
									<p>Pedidos aceitos (Na fila para envio)</p>
									<font size="3">Abaixo estão pedidos já confirmados e pagos, aguardando envio.</font></p>
									<div class='saldo'>
										<p>Saldo Atual de Bitcoins para envio: <%= limite_compra_btc %> BTC </p>
										<p>Saldo Atual de Litecoins para envio: <%= limite_compra_ltc %> LTC </p>
									
									</div>
									<table border="1">
										<font size="2"><tr>
										<td>Status</td>
										<td>Volume / Moeda,      </td>
										<td>Data</td>
										<td>Opções</td>
										</tr>
										<% nulos = @pagamentos.find_by_status("accepted")%>
										<% if nulos == nil  %>
										<tr>Não existem pagamentos/pedidos pendentes para envio.</tr>
										<% end %>
										<% else %>
										<% @pagamentos.each do |h| %>
										<% if h.status == 'accepted'%>
										<td type='waiting'>Transação aceita. </td>
										<td type='waiting'><b><%= h.volume %></b> <b><%= h.produtos.upcase %></b> </td>
										<td type='waiting'><% updata = h.updated_at.to_s.split(" ")%> <%= updata[0] %> </td>
										<% if h.network == 'pagseguro'%>
									 	<td type='finished'><%= link_to('Dar baixa', :controller => 'admin', :action => 'finish', :id => h.pagseguro, :type => 'pgseguro', method: "post") %> </td>
									 	<% end %>
									 	<% if h.network == 'paypal'%>
									 	<td type='finished'><%= link_to('Dar baixa', :controller => 'admin', :action => 'finish', :id => h.endereco, :type => 'paypal', method: "post") %> </td>
									 	  	    	<% end %>
										<td><br></div></td>
										<% end %>
										<% end %>
										</font>
										
									</table>
									<p>Transações fechadas</p>
									<table style="width:100%">
									 			<tr>
									 	  	    <td>Status</td>
									 	  	    <td>Volume / Moeda</td>
									 	  	    <td>Cod. rastreamento</td>
									 	  	    <td>Admin que enviou</td>
									 	  	    <td>Data de envio</td>
									 	  	    </tr>
									 	  	    <% @pagamentos.each do |h| %>
									 	  	    <% if h.usuario == username and h.status == 'send'%>
									 	  	    <tr>
									 	  	    <td type='finished'> Pedido enviado</td>
									 	  	    <td type='finished'><b><%= h.volume %></b> <b><%= moeda(h.network) %></b></td>
									 	  	    <td type='finished'><%= h.label %> </td>
									 	  	    <td type='finished'><%= h.user_id%><br></td>
									 	  	    <td type='finished'><%= h.address%></td>
									 	  	    </tr>
									 	  	    <% end %>
										<% end %></font>
									 	  	   	</table>
							</div>
							
					</section>
				