<style>
  div[class=body2]{
    margin-top: 5%;
    background-color: rgb(108, 75, 55);
  }
  .button{
    color:white;
    height: 50px;
  }
  .banner{
    background-repeat:no-repeat;
    left: 50%;
  }
  hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }
  .title{
   padding-left:15px;
   padding-top:23px;
   left: 50%;
  }
  h1, h2, h3, h4, h5, h6, li {
	margin:0;
}
  a{
    color: #ffffff;
	  text-decoration: underline;
  }
  a:hover {
	text-decoration: none;
}
.slogan {
	font-family: Arial;
   	font-size: 13px;
	font-weight: bold;
	line-height: 18px;	
	color: #C9A892;
}
.title {
	font-family: Arial;
	font-size: 33px;
	font-weight: normal;
	color: #FFFFFF;
}
.copyright {
	border: 0px;
	height: 1px;
	width: 1px;
}
.space {
	line-height: 15px;	
}
a.navbar {
	font-family: Tahoma;
	font-size: 10px;
	text-decoration: underline;
	color: #F7D9C5;
	font-weight: normal;
}
a.navbar:hover {
	font-family: Tahoma;
	font-size: 10px;
	color: #F7D9C5;
	font-weight: normal;
	text-decoration: none;
}
a.navbar2 {
	font-family: Tahoma;
	font-size: 16px;
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
}
a.navbar2:hover {
	text-decoration: underline;
}
a.navbar3 {
	padding-left: 8px;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	color: #FFFFFF;
}
a.navbar3:hover {
	text-decoration: underline;
}
a.navbar4 {
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}
a.navbar4:hover {
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}
a.navbar5 {
	padding-right: 20px;
	font: Tahoma;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	color: #FFFFFF;
}
a.navbar5:hover {
	padding-right: 20px;
	font: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: underline;
}
.txt-1 {
	padding-left: 12px;
	font: Tahoma;
	font-weight: bold;
	font-size: 13px;
	line-height: 18px;	
	color: #FFFFFF;
}
.txt-2 {
	font-size: 17px;
	line-height: 17px;	
	color: #FFFFFF;
}
.txt-3 {
	font-size: 11px;
	line-height: 18px;	
	color: #000000;
}
.txt-4 {
	padding-left: 15px;
	font: Arial;
	font-size: 13px;	
	color: #FFFFFF;
	font-weight: bold;
}
.txt-5 {
	padding-left: 0px;
	font-size: 21px;
	line-height: 25px;
	font-weight: bold;	
	color: #115203;
}
.txt-6 {
	font: Tahoma;
	font-size: 21px;
	line-height: 18px;
	font-weight: normal;	
	color: #FFCC00;
}
.txt-7 {
	font: Arial;
	font-size: 13px;
	line-height: 15px;
	font-weight: bold;	
	color: #FFFFFF;
}
.txt-8 {
	font: Arial;
	font-size: 12px;
	font-weight: bold;	
	color: #FFFFFF;
}
.head-1 {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #C9A892;
}
.head-2 {
	padding-left: 0px;
	font: Arial;
	font-size: 13px;
	font-weight: bold;	
	color: #EEA824;
}
.head-3 {
	font: Tahoma;
	text-decoration: none;
	font-size: 21px;
	font-weight: bold;	
	color: #C9A892;
}
.head-4 {
	font: Arial;
	font-size: 15px;
	font-weight: bold;	
	color: #FFFFFF;
}
.head-5 {
	padding-left: 15px;
	font: Tahoma;
	font-size: 15px;
	font-weight: bold;	
	color: #FFFFFF;
}
.style1 {
	color: #DE5614;
	font-weight: bold;
}
.style2 {
	color: #FAD5BE;
	font-weight: bold;
	text-decoration:underline;
}
td{
    margin: auto;
    text-align: center;
    vertical-align: middle;
    
}
</style>


<div class="body2" width="80%">
<div class="banner"  align="center"  border="4px" cellpadding="0" cellspacing="0" width="965">
      <td valign="top" width="965"><table border="0" cellpadding="0" cellspacing="0" width="965">
      <tbody><tr class="banner">
        <div class="banner">
          <div class="title" style="">Cripto Cambio exchange <br> Casa de apostas</div>
        </div></td>
      </tr>
      <table style="width:100%;background-repeat:repeat-x;" background="images/nav_bg.jpg" cellspacing="10">
								  <tr>
								  	    <td><img src="images/nav_dvd.jpg" height="46" width="37"></td>
								  	    <td><a href="howtoplay" class="navbar2">Como Jogar</a></td> 
								  	    <td><img src="images/nav_dvd.jpg" height="46" width="37"></td>
								  	    <td><a href="btc_loteria" class="navbar2">Loteria BTC</a></td>
								  	    <td><img src="images/nav_dvd.jpg" height="46" width="37"></td>
								  	    <td><a href="#" class="navbar2">Loteria ETH</a></td>
								  	    <td><img src="images/nav_dvd.jpg" height="46" width="37"></td>
								  	    <td><a href="detalhes" class="navbar2">Como funciona?</a></td>
								  	    </tr>
			</table>
    
    <table style="width:15%;margin-left:15%;" align="left" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td class="head-1" style="background-repeat:no-repeat;" bgcolor="#14100C" background="images/onl_pokr_lnks.jpg" valign="middle" style="padding:5px;">Menu de apostas</td>
      </tr>
      <%= form_for "ticket" do |j| %>
      <tr>
      <td class="head-1" bgcolor="#14100C" align="left" style="padding:5px;"><%= j.text_field :numero_tck, :placeholder => "N° de tickets", data: { remote: true, url: url_for( action: :calcular_tickets) } %></td>
      </tr><% end %>
      <tr>
        <td class="txt-2" bgcolor="#14100C" align="left" style="padding:5px;"> 1 Ticket = 0.0003 BTC</td> 
      </tr>
      <tr>
        <tr><td class="txt-2" bgcolor="#14100C" style="padding:5px;" >Total: <b id="substituir"></b> </td>
      </tr>
      <tr>
        <td class="txt-2" bgcolor="#14100C" align="left" style="padding:5px;"><p>Seus tickets: <%= @tickets %></td>
      </tr>
      <tr>
      <td bgcolor="#14100C" style="padding:5px;"> <b id="submit"></b></td>
      </tr>
      
      
        </table>
        <table border="0" bgcolor="#14100C" align="center" cellpadding="0" cellspacing="0" style="width:50%;padding:10px;" >
          <tbody>
          <tr>
            <td class="head-4" style="background-repeat:no-repeat;" background="images/casino_name.jpg" height="35" valign="middle" width="680"><div style="padding-left:35px;padding-top:3px;">Loteria ฿itcoin</div></td>
          </tr>
          <tr>
            <td valign="top" width="680"><table style="background-repeat:repeat-y;" background="images/casino_bg.jpg" border="0" cellpadding="0" cellspacing="0" width="680"><td class="txt-2"><div id="message"><% if @messages != nil %> <%= @messages.html_safe %>  </div></td>
            <% end %>
              <tbody><tr>
                <td valign="top" width="680"><img src="images/casino_top.jpg" height="3" width="680"></td>
              </tr>
              <tr>
                <td valign="top" width="680"><table align="center" border="0" cellpadding="0" cellspacing="0" width="645">
                  <tbody>
                  <b class="txt-2"><div style="border:5px;">Seus tickets: <%= @tickets %> <br> Tickets totais: <%= @tickets_totais %> <br> Chance de ganhar algum prêmio: <%= @chances %> </div></b>
                  	<tr>
                    <td class="txt-2" valign="middle" width="490" style="padding:10px;">Confira a baixo as premiações do sorteio <%= @sorteio_numero %>.</td>
                  </tr>
                  <tr><td>
                  	 1- <%= @premiacoes[0] %> BTC<br> 2- <%= @premiacoes[1] %> BTC <br> 3- <%= @premiacoes[2] %> BTC<br> 4- <%= @premiacoes[3] %> BTC<br> 5- <%= @premiacoes[4] %> BTC<br> 6- <%= @premiacoes[5] %> BTC<br> 7- <%= @premiacoes[6] %> BTC<br> 8- <%= @premiacoes[7] %> BTC<br> 9- <%= @premiacoes[8] %> BTC<br> 10- <%= @premiacoes[9] %> BTC<br>
                  </td></tr>
                </tbody></table></td>
              </tr>
              <tr>
                <td height="8" valign="top" width="680"><br>
</td>
              </tr>
              <tr>
                <td valign="top" width="680"><img src="images/casino_btm.jpg" height="3" width="680"></td>
              </tr>
            </tbody></table></td>
        </tbody></table></td>
      </tr>
    </tbody></table></td>
  </tr>
  <tr>
    <td valign="top" width="965"><table border="0" cellpadding="0" cellspacing="0" width="965">
      <tbody><tr>
        <td style="background-repeat:repeat-x;" background="images/nav_bg.jpg" height="46" valign="top" width="965"><table align="center" border="0" cellpadding="0" cellspacing="0" width="840">
          <tbody><tr>
            <td align="center" valign="middle" width="72"><a href="#" class="navbar2">Link</a></td>
            <td valign="top" width="37"><img src="images/nav_dvd.jpg" height="46" width="37"></td>
            <td align="center" valign="middle" width="72"><a href="#" class="navbar2">Link</a></td>
            <td valign="top" width="37"><img src="images/nav_dvd.jpg" height="46" width="37"></td>
            <td align="center" valign="middle" width="72"><a href="#" class="navbar2">Link</a></td>
            <td valign="top" width="37"><img src="images/nav_dvd.jpg" height="46" width="37"></td>
            <td align="center" valign="middle" width="72"><a href="#" class="navbar2">Link</a></td>
            <td valign="top" width="37"><img src="images/nav_dvd.jpg" height="46" width="37"></td>
            <td align="center" valign="middle" width="72"><a href="#" class="navbar2">Link</a></td>
            <td valign="top" width="37"><img src="images/nav_dvd.jpg" height="46" width="37"></td>
            <td align="center" valign="middle" width="72"><a href="#" class="navbar2">Link</a></td>
            <td valign="top" width="37"><img src="images/nav_dvd.jpg" height="46" width="37"></td>
            <td align="center" valign="middle" width="72"><a href="#" class="navbar2">Link</a></td>
            <td valign="top" width="37"><img src="images/nav_dvd.jpg" height="46" width="37"></td>
            <td align="center" valign="middle" width="72"><a href="#" class="navbar2">Link</a></td>
          </tr>
        </tbody></table></td>
      </tr>
      <tr>
        <td class="txt-2" align="center" height="50" valign="middle" width="965">Template created by <a target="_blank" href="http://www.casinotemplates.net" class="style2">casinotemplates.net</a> &amp; <a target="_blank" href="http://www.usaonlinecasinos.org" class="style2">usaonlinecasinos.org</a><br>

	<!--Do not remove the footer links-->
	<!--Template design and distribution by-->
	<a href="http://www.casinotemplates.net"><img src="images/design.gif" class="copyright" alt="casino templates"></a>

	</td>
      </tr>
    </tbody></table></td>
  </tr>

</tbody></table>

<!--Template co-designed by-->
<a href="http://www.usaonlinecasinos.org"><img src="images/design.gif" class="copyright" alt="usa online casinos"></a>

</div>