<link rel="stylesheet" href="loteria_btc.css">


<div class="body2" width="80%">
<div class="banner"  align="center"  border="4px" cellpadding="0" cellspacing="0" width="965">
      <td valign="top" width="965"><table border="0" cellpadding="0" cellspacing="0" width="965">
      <tbody><tr class="banner">
        <div class="banner">
          <div class="title" style="">Cripto Cambio exchange <br> Casa de apostas</div>
        </div></td>
      </tr>
      <table style="width:100%;background-repeat:repeat-x;" background="images/nav_bg.jpg" cellspacing="10">
								  <tr>
								  	    <td><img src="images/nav_dvd.jpg" height="46" width="37"></td>
								  	    <td><a href="howtoplay" class="navbar2">Como Jogar</a></td> 
								  	    <td><img src="images/nav_dvd.jpg" height="46" width="37"></td>
								  	    <td><a href="btc_loteria" class="navbar2">Loteria BTC</a></td>
								  	    <td><img src="images/nav_dvd.jpg" height="46" width="37"></td>
								  	    <td><a href="#" class="navbar2">Loteria ETH</a></td>
								  	    <td><img src="images/nav_dvd.jpg" height="46" width="37"></td>
								  	    <td><a href="detalhes" class="navbar2">Como funciona?</a></td>
								  	    </tr>
			</table>
    
    <table style="width:15%;margin-left:15%;" align="left" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td class="head-1" style="background-repeat:no-repeat;" bgcolor="#14100C" background="images/onl_pokr_lnks.jpg" valign="middle" style="padding:5px;">Menu de apostas</td>
      </tr>
      <%= form_for "ticket" do |j| %>
      <tr>
      <td class="head-1" bgcolor="#14100C" align="left" style="padding:5px;"><%= j.number_field :numero_tck, :placeholder => "N° de tickets", data: { remote: true, url: url_for( action: :calcular_tickets) } %></td>
      </tr><% end %>
      <tr>
        <td class="txt-2" bgcolor="#14100C" align="left" style="padding:5px;"> 1 Ticket = 0.0001 BTC</td> 
      </tr>
      <tr>
        <tr><td class="txt-2" bgcolor="#14100C" style="padding:5px;" >Total: <b id="substituir"></b> </td>
      </tr>
      <tr>
        <td class="txt-2" bgcolor="#14100C" align="left" style="padding:5px;"><p>Seus tickets: <%= @tickets %></td>
      </tr>
      
      <tr>
      <td bgcolor="#14100C" style="padding:5px;"> <b id="submit"></b></td>
      </tr>
      <tr>
        <td class="txt-2" bgcolor="#14100C" align="left" style="padding:5px;"><p style="font-size:12px"><a href="#"> <img src="info.ico" title="Esta taxa é cobrada pela rede pelo processamento da transação. A Cripto Cambio Exchange não recebe qualquer montante desta taxa." height="21" width="21"> </a> Taxa da rede: 0.00045 BT</a></td>
      </tr>
      
      <tr>
        <td class="txt-2" bgcolor="#14100C" align="left" style="padding:5px;"><p style="font-size:12px"> </td>
      </tr>
      
      
        </table>
        <table border="0" bgcolor="#14100C" align="center" cellpadding="0" cellspacing="0" style="width:50%;padding:10px;" >
          <tbody>
          <tr>
            <td class="head-4" id="width100dado" width="680"><div style="padding-left:35px;padding-top:3px;">Loteria ฿itcoin</div></td>
          </tr>
          <tr>
            <td valign="top" width="680"><table id="width100tabela" border="0" cellpadding="0" cellspacing="0" width="680"><td class="txt-2"><div id="message"><% if @messages != nil %> <%= @messages.html_safe %>  </div></td>
            <% end %>
              <tbody><tr>
                <td valign="top" width="680"><img src="images/casino_top.jpg" height="3" width="680"></td>
              </tr>
              <tr>
                <td valign="top" width="680"><table align="center" border="0" cellpadding="0" cellspacing="0" width="645">
                  <tbody>
                  <b class="txt-2"><div style="border:5px;">Seus tickets: <%= @tickets %> <br> Tickets totais: <%= @tickets_totais %> <br> Chance de ganhar algum prêmio: <%= @chances %> <br> <br>
                  Data do próximo sorteio:
                  <% all = Loterium.all %>
                  <% g = all[0]%>
                  <% if g == nil%>
                  Não há previsão.
                  <% else %>
                  <% mes = Time.now.strftime("%m") %>
                  <% ano = Time.now.strftime("%y") %>
                  <% if mes == "12" %>
                  <% mes = "01" %>
                  <% ano = Integer(ano) + 1 %>
                  <% else %>
                  <% mes = Integer(mes) + 1 %>
                  <% if mes <= 10 %>
                  <% mes = "0" + String(mes)%>
                  <% end %>
                  <% end %>
                  <% string_data = "01/#{mes}/#{ano}"%>
                  <%= string_data %>
                  <% end %>
                  </div></b>
                  	<tr>
                    <td class="txt-2" valign="middle" width="490" style="padding:10px;">Confira abaixo as premiações do sorteio <%= @sorteio_numero %>.</td>
                  </tr>
                  <tr><td>
                  	 1- <%= @premiacoes[0] %> BTC<br> 2- <%= @premiacoes[1] %> BTC <br> 3- <%= @premiacoes[2] %> BTC<br> 4- <%= @premiacoes[3] %> BTC<br> 5- <%= @premiacoes[4] %> BTC<br> 6- <%= @premiacoes[5] %> BTC<br> 7- <%= @premiacoes[6] %> BTC<br> 8- <%= @premiacoes[7] %> BTC<br> 9- <%= @premiacoes[8] %> BTC<br> 10- <%= @premiacoes[9] %> BTC<br>
                  </td></tr>
                </tbody></table></td>
              </tr>
              <tr>
                <td height="8" valign="top" width="680"><br>
</td>
              </tr>
              <tr>
                <td valign="top" width="680"><img src="images/casino_btm.jpg" height="3" width="680"></td>
              </tr>
            </tbody></table></td>
        </tbody></table></td>
      </tr>
    </tbody></table></td>
  </tr>
  <tr>
    <td valign="top" width="965"><table border="0" cellpadding="0" cellspacing="0" width="965">
      <tbody><tr>
        <td style="background-repeat:repeat-x;" background="images/nav_bg.jpg" height="46" valign="top" width="965"><table align="center" border="0" cellpadding="0" cellspacing="0" width="840">
          <tbody><tr>
            <td align="center" valign="middle" width="72"><a href="https://www.facebook.com/cripcambio/" class="navbar2">Facebook</a></td>
            <td valign="top" width="37"><img src="images/nav_dvd.jpg" height="46" width="37"></td>
            <td align="center" valign="middle" width="72"><a href="/apostas/stats" class="navbar2">Estatísticas</a></td>
            <td valign="top" width="37"><img src="images/nav_dvd.jpg" height="46" width="37"></td>
            <td align="center" valign="middle" width="72"><a href="/apostas/history" class="navbar2">Histórico das loterias</a></td>
          </tr>
        </tbody></table></td>
      </tr>
      <tr>
        <td class="txt-2" align="center" height="50" valign="middle" width="965"><li>&copy; Cripto Cambio Exchange</li><br>

	</td>
      </tr>
    </tbody></table></td>
  </tr>

</tbody></table>

<!--Template co-designed by-->
<img src="images/design.gif" class="copyright" alt="usa online casinos"></a>

</div>