<!DOCTYPE HTML>
<style>
	article{
 	margin-top: -10%;
  background-color: #cccccc;
 }
 input[type=text]:focus,textarea[name=message]:focus, input[class=form]{
        color: white;
        background: black;
    }
</style>
<html>
	 
	<body class="contact">
	
	
		<!-- Main -->
			<article id="main">

				<header class="special container">
					<span class="icon fa-envelope"></span>
					<h2>Entre em contato</h2>
					<p>Utilize o formulário abaixo para entrar em contato conosco, tirar dúvidas, e questionar pagamentos.</p> Utilize o identificador único, localizado na página de detalhes, para qualquer dúvida sobre pagamentos específicos.
				</header>
					
				<!-- One -->
					<section class="wrapper style4 special container small">
					
						<!-- Content -->
							<div class="content">
								<%= form_for(:message, :url => {:controller => 'usuarios', :action => 'mail'}) do |f| %>
									<div class="row half collapse-at-2">
										<div class="6u">
											<%= f.text_field :dummy1, :type => 'text', :class => "form", :name => "name", :disabled => true, value: username.to_s.capitalize, :required => true %> 
											<%= f.hidden_field :name, :name => "name", value: username.to_s%>
										</div>
										<div class="6u">
											<%= f.text_field :dummy2, :type => 'text', :class => "form", :name => "email", :disabled => true, value: useremail.to_s, :required => true %> 
											<%= f.hidden_field :email, value: useremail.to_s, :name => "email"%>
										</div>
									</div>
									<div class="row half">
										<div class="12u">
											<%= f.text_field :text, :type => 'text', :name => "subject", :placeholder => "Assunto" , :maxlength => 25%> 
										</div>
									</div>
									<div class="row half">
										<div class="12u">
											<%= f.text_area :message, :name => "message", :placeholder => "Mensagem" %> 
										</div>
									</div>
									<div class="row">
										<div class="12u">
											<ul class="buttons">
												<li><%= f.submit "Enviar", :type => "submit",  :class => "special" %></li>
												<% end %>
											</ul>
										</div>
									</div>
								</form>
							</div>
							
					</section>
				
			</article>

		<!-- Footer -->
			<footer id="footer">
			
				<ul class="icons">
					<li><a href="#" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
					<li><a href="#" class="icon circle fa-github"><span class="label">Github</span></a></li>
					<li><a href="#" class="icon circle fa-dribbble"><span class="label">Dribbble</span></a></li>
				</ul>
				
				<ul class="copyright">
					<li>&copy; Cripto Cambio Exchange</li>
				</ul>
			
			</footer>

	</body>
</html>