<head><style>
	div {
		
	}
	
	.row{
		column-count: 3;
		
	}
	.content{
 	margin-top: -5%;
 	padding: 50px;
 	background: #FFFFFF;
 	height: 550px;

	}
	.center{
		margin: auto;
		width: 99%;
	}
	.header{
		position: static;
	}
	input[id="usuario_username"], input[id="usuario_first_name"], input[id="usuario_last_name"], input[id="usuario_username"], input[id="usuario_fone"], input[id="usuario_password"], input[id="usuario_password_confirmation"]{
	width: 240px;
	padding: 9px;
		
	}
	input[id="usuario_email"]{
		width: 400px;
	}
	input:focus{
        color: white;
        background: black;
  }
	article{
 	margin-top: -10%;
  background-color: #cccccc;
 }
 section{
 	background-color: #cccccc;
 }
 .class=content{
 	
 }
 
</style>

  		
  		
  
  </head>
  <body>
  	
<!-- Main -->
			<article id="main">

				<header class="special container">
					<% if @usuario.errors.any? %>
								<h2><%= @logged %><strong></strong></h2>
                  
                  <% for message_error in @usuario.errors.full_messages %>
                    <p>* <%= message_error %>
                  <% end %></p></div>
                  <% else %>
                  	<h3>Preencha o formulário para cadastrar-se</h3>
										<p>Criptomoedas com rapidez e praticidade.</p>
                  
                  <% end %>
					
				</header>
					
				<!-- One -->
					<section class="wrapper container">
					
						<!-- Content -->
							<div class="content">
								<h3>Formulário para cadastro:</h3>
								<%= form_for(:usuario, :url => {:controller => 'usuarios', :action => 'create'}) do |f| %>
							<table style="width:85%" cellspacing="10">
								  <tr>
								  	    <td>Apelido:<br></td>
								  	    <td>Primeiro nome:</td> 
								  	    <td>Ultimo nome:</td>
								  	    </tr>
								  	    
								  	    <tr>
								  	    <td><%= f.text_field :username %></td>
								  	    <td><%= f.text_field :first_name %> </td> 
								  	    <td> <%= f.text_field :last_name %> </td>
								  	    </tr>
								  	    <tr>
								  	    <td>Senha:</td>
								  	    <td>Confirme a senha:</td> 
								  	    <td>Telefone:</td>
								  	    </tr>
								  	    <tr>
								  	    <td><%= f.password_field :password %></td>
								  	    <td><%= f.password_field :password_confirmation %></td> 
								  	    <td><%= f.text_field :fone %></td>
								  	    </tr>
								  	    </table>
					
                  <p>Email: <%= f.text_field :email %> </p>
                  <%= f.submit :Cadastrar %> 
                  <% end %>
                  
                  </div>
                  
                  
								
							
	</section>
					</section>

				
		<!-- Footer -->
			<footer id="footer">
			
				<ul class="icons">
					
				</ul>
				
				<ul class="copyright">
					<li>&copy; Cripto Cambio Exchange</li>
				</ul>
			
			</footer>

	</body>
</html>