

<style>
	dt{
		font: bold;
	}
</style>
<% if @captcha == true%>
<%= form_for :pagamento, :url => '/create_handlerps', :method => 'post' do |f| %>
<% if @zero == false%>
<% if @warning == false%>
<font color='red' style='font:bold;'>Endereço de carteira Inválido.</font> <img src='images/warning.png' height='32' width='32'>
<% elsif @warning == true %>
 <font color='blue' > <dt>Endereço verificado </font> <img src='images/verified.png' height='32' width='32'><br></dt>
 <% if @limite == true %>
 <font color='red' > <dt>Você selecionou mais do que o limite de compra.<br> Seu pedido foi ajustado para um volume de <%= @limit %> <%= @currency %></dt></font>
 <% @desejado = @limit%>
 <% end %>
 
								<dd><%= f.hidden_field :usuario, :value => username %> </dd>
    							<dd><%= f.hidden_field :email, :value => useremail %></dd>
    							<%= f.hidden_field :sku, :value => @product.sku %>
    							<%= f.hidden_field :volume, :value => @desejado %>
    							<%= f.hidden_field :address, :value => @carteira %>
								<table style="width:45%">
									 			<tr>
									 	  	    <td id='preco_tipo'>Método de Pgot.</td>
									 	  	    <td  id='valor_preco'>Estimativa</td>
									 	  	    <td></td>
									 	  	    <td></td>
									 	  	    <td></td>
									 	  	    </tr>
									 	  	    
									 	  	    
									 	  	    <tr>
									 	  	    <td type='finished' id='preco_tipo'> <%= submit_tag "Pagseguro", :src => "/images/pagseguro.gif", :type => "image" , :name => 'edit[pagseguro]'%> </td>
									 	  	    <td type='finished' id='valor_preco'><b><%= @preco_pagseguro %></b></td>
									 	  	    <td type='finished'></td>
									 	  	    <td type='finished'><br></td>
									 	  	    <td type='finished'></td>
									 	  	    </tr>
									 	  	    <tr>
									 	  	    <td type='finished' id='preco_tipo'> <%= submit_tag "Paypal", :src => "/images/paynow.png", :type => "image" , :name => 'edit[paypal]'%> </td>
									 	  	    <td type='finished' id='valor_preco'><b><%= @preco_pagseguro %></b></td>
									 	  	    <td type='finished'></td>
									 	  	    <td type='finished'><br></td>
									 	  	    <td type='finished'></td>
									 	  	    </tr>
									 	  	    
									 	  	    <% end %>
									 	  	    
										</font>
									 	  	   	</table> <% end %> <% end %>
									 	  	   	<% if @warning == false%>
									 	  	   	
									 	  	   	<% elsif @warning == true %>
									 	  	   	
									 	  	   	<% if @zero == true %>
									 	  	   	<font color='red' > <dt> ERRO! Digite um valor válido e acima de 0.0001 BTC ou 0.02 LTC. </font></dt>
									 	  	   	<% else %>
									 	  	   	
									 	  	   	<tr>
									 	  	   	<%= form_for :coinpay, :url => '/coinpaymentsave', :method => 'post', :remote => true do |g| %>
									 	  	   	<%= g.hidden_field :usuario, :value => username %>
    											<%= g.hidden_field :email, :value => useremail %>
    											<%= g.hidden_field :sku, :value => @product.sku %>
    											<%= g.hidden_field :volume, :value => String(@desejado) %>
    											<%= g.hidden_field :address, :value => @carteira.to_s %>
									 	  	    <%= g.hidden_field :item_name, :value => @carteira + '/' + @product.sku + '/' + String(@desejado) %>
									 	  	    
									 	  	    <td type='finished' id='preco_tipo'><%= g.submit "CriptoPay", :src => "https://www.coinpayments.net/images/pub/buynow-wide-blue.png", :type => "image" %> 
									 	  	    <td type='finished' id='valor_preco'> Pague em outras criptomoedas!</td> <% end %>
</form>											<td type='finished'></td>
									 	  	    <td type='finished'></td>
									 	  	    <td type='finished'></td>
									 	  	    </tr> <% end %> <% end %>
									 	  	    <% else %>
									 	  	    Captcha inválido!! faça o teste do captcha e clique em "calcular" novamente.
									 	  	    <% end %>