<style>
	article{
 	margin-top: -15%;
  background-color: #cccccc;
 }
 input[name=menu] {
    height: 40px;
    width: 50%;
    background-color: powderblue;
    font-size: 50%;
}
input[type=text],input[type=password] {
    width: 220px;
    font-size: 80%;
    
}
input[id=carteira] {
    width: 440px;
    font-size: 80%;
    
}
  div{
  	
  }
  .basic_infos{
  	
  	width: 300px;
    margin: 0 auto;
    margin-top: -3.5%;
    margin-left: 18.8%;
  	
  }
  .left_text{
  	text-align: left;
  }
  .senhas{
  	width: 300px;
    margin: 0 auto;
    margin-top: -3.5%;
    margin-left: 28.5%;
  }
  .wallets{
  	width: 300px;
    margin: 0 auto;
    margin-top: -3.5%;
    margin-left: 30.5%;
  }
</style>
<body class="contact">
	
		<!-- Main -->
			<article id="main2">

				<header class="special container">
					
				</header>
					
				<!-- One -->
					<section class="wrapper style4 special container small">
					
						<!-- Content -->
						<%= link_to "Voltar", :controller => 'sessions', :action =>'home', :id => session[:user_id]%>
						<%= form_for(:config, :url => {:controller => 'sessions', :action => 'setting'}) do |j| %>
						<table style="height:45%">
									 			<tr>
									 	  	    <td id='preco_tipo'><%= j.submit 'Informações básicas', :name => 'menu'  %></td>
									 	  	    <td  id='valor_preco'><%= j.submit 'Carteiras', :name => 'menu'  %></td>
									 	  	    <td><%= j.submit 'Notificações', :name => 'menu'  %></td>
									 	  	    <td><%= j.submit 'Segurança', :name => 'menu'  %></td>
									 	  	    </tr>
									 	  	    </table>
						<% end %>
							<div class="content">
								<%= render :partial => 'sessions/configs'%>
								
							</div>
							
					</section>
			