<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript">

	</script>
	<script type="text/javascript">
function loading()
{
 $('#render').html('<img src="images/loading.gif" height="84" width="84" />');
}

</script>
	
	<style>
	hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
input[id=calculo_address]:focus, input[id=calculo_volume]:focus{
        color: white;
        background: black;
    }
input[type="image"]{
    max-width:190px; /* you can use % */
    height: auto;
}
label[type="descricao"]{
	width: 10px; height: 55px 
}
input[type="text"] {
	width: 470px;
}
input[id="volume"]{
	width: 200px;
}
font[id="aviso"]{
	font-size: 70%;	
	font-weight: bold;
}
section {
	
}
 .container{
 	margin-top: -7%;
 }
 td[id="preco_tipo"]{
 	text-align: center;
	vertical-align: middle;
	line-height: 40px;
 }
 td[id='valor_preco']{
 	text-align: left;
 	vertical-align: middle;
	line-height: 40px;
 }
div{ 

   
    
}
 
 .content {
 	
 }
 .conteudo{
 	margin-top: -6%;
    margin-left:10%;
    width: 80%;
 	padding: 10px;
 	margin-bottom: 180px;
 }
 .table_detalhes {
 	position: absolute;
 	text-align: left;
 	margin-top: 0%;
 	margin-left: 5%;
 	margin-right: 14%;
 	width: 80%;
 	
 }
 .table_foto{
 	position: absolute;
	margin-left: 25%;
	margin-top: -25%;
 }
 
</style>
</head>
<body class="contact">
	
		<!-- Main -->
			<article id="main">

				<header class="special container">
					
				</header>
					
				<!-- One -->
					<section class="wrapper style4 container small">
					
						<!-- Content -->
							<div class="content">
								<h2> Detalhes </h2>
								<p><font size='4'><h2><%= @product.name %></p></h2>
								<img src=<%= @product.in_the_box%> alt="prev" height=150px width=150px>
								<p>Valor máximo disponível de compra: <BR>
									<% if @product.name.downcase == 'fração de bitcoin' %>
 								-> Bitcoins: <%= limite_compra_btc %> BTC
 								<% if current_user.bitcoin != nil %><br>
 								<b><font id="aviso">* O endereço de recebimento foi preenchido com sua carteira padrão</font></b>
 								<% end %>
 									<% elsif @product.name.downcase == 'fração de litecoin' %>
								-> Litecoins: <%= limite_compra_ltc %> LTC
								<% if current_user.litecoin != nil %><br>
 								<font id="aviso"><b>* O endereço de recebimento foi preenchido com sua carteira padrão</font></b>
 								<% end %>
								<% end %></p>
								
								
								<% if @carteira == nil %>
								<%= form_for( :calculo, :url => '/calc', :method => 'post' , :remote => true )  do |g| %>
								<div class="captcha"><div class="g-recaptcha" data-sitekey="6LeGcxsUAAAAAIYoK-i5Zpeu58qj8e_72WgbkQLX"></div></div><br>
								<% if @product.name.downcase == 'fração de bitcoin' %>
    							<dt>Carteira que irá receber o volume: <%= g.text_field :address, :value => current_user.bitcoin %></dt>
    							<% elsif @product.name.downcase == 'fração de litecoin' %>
    							<dt>Carteira que irá receber o volume: <%= g.text_field :address, :value => current_user.litecoin %></dt>
    							<% end %>
    							<dt>Digite o Volume desejado em <%= @product.sku.upcase %> <%= g.text_field :volume  %>
    							<%= g.hidden_field :permalink, :value => @product.permalink %>
    							<%= g.hidden_field :moeda, :value => @product.sku %>
    							<% if BigDecimal(limite_compra_btc,8) == 0 and @product.name.downcase == 'fração de bitcoin' %>
    							<font color='red'>Desculpe. Não há saldo suficiente em caixa para venda no momento. Por quê não tenta novamente mais tarde?</font>
    							<% elsif BigDecimal(limite_compra_ltc,8) == 0 and @product.name.downcase == 'fração de litecoin' %>
    							<font color='red'>Desculpe. Não há saldo suficiente em caixa para venda no momento. Por quê não tenta novamente mais tarde?</font>
    							<% else %>
    							<%= g.submit 'Calcular Preço', :onClick => "loading();" %>
    							<% end %>
    							<% end %>
    							<% else %>
    								<%= form_for :calculo, :url => '/calc' do |g| %>
    								<dt>Carteira que irá receber o volume: <%= g.text_field :address , :value => @carteira , :placeholder => @carteira %></dt>
    								<dt>Digite o Volume desejado em <%= @product.sku.upcase %> <%= g.text_field :volume , :value => @desejado, :placeholder => @desejado%>
    								<%= g.hidden_field :permalink, :value => @product.permalink %>
    								<%= g.hidden_field :moeda, :value => @product.sku %>
    								<%= g.submit 'Calcular Preço', :onClick => "loading();" %>
    							<% end %>
								<% end %>
								
								
								
								
								<div id="render"></div>
								<hr><%= simple_format @product.description %></hr>
								<hr><p><%= link_to "Voltar", '/store' %></p></hr>
								
								</font>
                                  </p><BR><BR>
                                  
                                  
							</div>
							
					</section>
				