<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
	
	<style>
	hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

input[type="image"]{
    max-width:190px; /* you can use % */
    height: auto;
}
label[type="descricao"]{
	width: 10px; height: 55px 
}
input[type="text"] {
	width: 470px;
}
input[id="volume"]{
	width: 200px;
}
section {
	
}
 .container{
 	margin-top: -7%;
 }
div{ 

   
    
}
 .content {
 	
 }
 .conteudo{
 	margin-top: -6%;
    margin-left:10%;
    width: 80%;
 	padding: 10px;
 }
 .table_detalhes {
 	position: absolute;
 	text-align: left;
 	margin-top: 0%;
 	margin-left: 5%;
 	margin-right: 14%;
 	width: 80%;
 	
 }
 .table_foto{
 	position: absolute;
	margin-left: 35%;
	margin-top: -25%;
 }
 
</style>
</head>
<body class="contact">
	
		<!-- Main -->
			<article id="main">

				<header class="special container">
					
				</header>
					
				<!-- One -->
					<section class="wrapper style4 container small">
					
						<!-- Content -->
							<div class="content">
								<h2> Detalhes </h2>
								<p><font size='4'><h2><%= @product.name %></p></h2>
								
								
								
								<% if @carteira == nil %>
								<%= form_for( :calculo, :url => '/calc', :method => 'post' , :remote => true )  do |g| %>
    							<dt>Carteira que irá receber o volume: <%= g.text_field :address %></dt>
    							<dt>Digite o Volume desejado em <%= @product.sku.upcase %> <%= g.text_field :volume  %>
    							<%= g.hidden_field :permalink, :value => @product.permalink %>
    							<%= g.hidden_field :moeda, :value => @product.sku %>
    							<%= g.submit 'Calcular Preço' %>
    							<% end %>
    							<% else %>
    								<%= form_for :calculo, :url => '/calc' do |g| %>
    								<dt>Carteira que irá receber o volume: <%= g.text_field :address , :value => @carteira , :placeholder => @carteira %></dt>
    								<dt>Digite o Volume desejado em <%= @product.sku.upcase %> <%= g.text_field :volume , :value => @desejado, :placeholder => @desejado%>
    								<%= g.hidden_field :permalink, :value => @product.permalink %>
    								<%= g.hidden_field :moeda, :value => @product.sku %>
    								<%= g.submit 'Calcular Preço' %>
    							<% end %>
								<% end %>
								
								<% if @render == true%>
								<% end %>
								
								
								
								
								
								
								
								<div class="table_foto"><img src=<%= @product.in_the_box%> alt="prev" height=350px width=350px></div>
								<div id="render"></div>
								<hr><%= simple_format @product.description %></hr>
								<hr><p><%= link_to "Voltar", '/store' %></p></hr>
								
								</font>
                                  </p><BR><BR>
                                  
                                  
							</div>
							
					</section>
				
			</article>

		<!-- Footer -->
			<footer id="footer">
			
				<ul class="icons">
					
				</ul>
				
				<ul class="copyright">
					<li>&copy; Cripto Câmbio</li>
				</ul>
			
			</footer>

	</body>
</html>
