<head>
	<style>
	hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
label[type="descricao"]{
	width: 10px; height: 55px 
}
h3{
	
}
 .nome {
 	margin-top:-10px;
 	margin-bottom:-15px;
 	position:static;
 	height: 70px;
 }

div{ 

   
    
}
 .preco{
 	
	margin-top: -7%;
	align="right";
	margin-left: 25%;
	margin-bottom: 25px;
	height: 30px;
	position:absolute;
 }

 .conteudo{
 	margin-top: -10%;
    margin-left:10%;
    width: 80%;
    margin-bottom: 180px;
 	padding: 10px;
 	background-color: #FFFFFF;
 }
 .table_detalhes {
 	position: absolute;
 	text-align: left;
 	margin-top: 0%;
 	margin-left: 9%;
 	margin-right: 14%;
 	width: 80%;
 	
 }
 .table_foto{
 	position: relative;
	margin-left: 75%;
	margin-top: 45px;
 }
 
 article{
 	background-color: #cccccc;
 }
</style>
</head>
<body>
	
		<!-- Main -->
			<article id="main2">

				<header class="special container">
					
				</header>
					
				<!-- One -->
					
					
						<!-- Content -->
							<div class="conteudo">
							
							<% @products.each do |category, prd| %>
  							<h3><%= category.name %></h3>
							<% prd.each do |products| %>
							<div class="table_detalhes"><h3 class='nome'><b><%= products.name %></h3></b>
							<ul><% products.permalink %><li>
							<font>
							<p><b>Preço de 1 <%= products.sku.upcase %> em outras moedas:<div class='preco'>  <%= String(standard_conversion(products.sku)).html_safe %> </th></p></div class='preco'>
							<p><%= label_tag  "descricao" , products.short_description.html_safe , disabled: true %></b></font>
							<h4><%= button_to "Comprar", permalink: products.permalink , :id => 'button_buy'%></p></span></h4>
							</div></li></ul><th> <div class="table_foto"><img src=<%= products.in_the_box%> alt="prev" height=250px width=250px></div><br><br><hr> </th><% end %>
							<% end %></div>
							
							
							
					
				