<head>
	<style>
	hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
label[type="descricao"]{
	width: 10px; height: 55px 
}
h3{
	
}
 .nome {
 	margin-top:-10px;
 	margin-bottom:-15px;
 	position:static;
 }

div{ 

   
    
}
 .preco{
 	
	margin-top: 5px;
	height: 50px;
 }

 .conteudo{
 	margin-top: -6%;
    margin-left:10%;
    width: 80%;
 	padding: 10px;
 }
 .table_detalhes {
 	position: absolute;
 	text-align: left;
 	margin-top: 0%;
 	margin-left: 5%;
 	margin-right: 14%;
 	width: 80%;
 	
 }
 .table_foto{
 	position: relative;
	margin-left: 80%;
	margin-top: 2%;
 }
 
</style>
</head>
<body class="contact">
	
		<!-- Main -->
			<article id="main">

				<header class="special container">
					
				</header>
					
				<!-- One -->
					
					
						<!-- Content -->
							<div class="conteudo">
								
							<% @products.each do |category, prd| %>
  							<h3><%= category.name %></h3>
							<% prd.each do |products| %>
							<div class="table_detalhes"><h3 class='nome'><b><%= products.name %></h3></b>
							<ul><% products.permalink %><li>
							
							<p><div class='preco'><b>Preço de 1 <%= products.sku.upcase %> em outras moedas: </b> <%= String(standard_conversion(products.sku)).html_safe %> </th></p></div>
							<p><%= label_tag  "descricao" , products.short_description , disabled: true %></b></span></p>
							<h4><%= button_to "Comprar", permalink: products.permalink , :id => 'button_buy'%></h4>
							</div></li></ul><th> <div class="table_foto"><img src=<%= products.in_the_box%> alt="prev" height=250px width=250px></div><hr> </th><% end %>
							<% end %></div>
							
							
							
					
				
			</article>

		<!-- Footer -->
			<footer id="footer">
			
				<ul class="icons">
					
				</ul>
				
				<ul class="copyright">
					<li>&copy; Cripto Câmbio</li>
				</ul>
			
			</footer>

	</body>
</html>
