<!DOCTYPE html>
<html>
<head>
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<%= favicon_link_tag 'favicon.ico' %>
	<style>
	

table[id=black]{
  background: #14100C;
}
 font {
 	font-size: 17.9px;
 	font-family: "Times New Roman", Georgia, Serif;
 }
 form.button_to{
 	font-size: 13px;
 	width: 174=5px;
 	height: auto;
 	padding: 0px 0px;
 	border-radius: 2px;
 }

 article{
 	margin-top: -3%;
  background-color: #cccccc;
 }
 div[class=saldos]{
 	position: absolute;
 	background-color: white;
 	left: 0;
 	padding: 5px;
 }
 div[class=errorspeech]{
 	  text-align: left;
 }
 td[id=width100dado]{
  
  background-size: 100%;
  background-repeat:no-repeat;
  background-image:url(images/casino_name.jpg);
  
}
table[id=width100tabela]{
  
  background-size: 100%;
  background-repeat:repeat-y;
  background-image:url(images/casino_bg.jpg);
  
}

	</style>
  <title>Cripto câmbio</title>
  
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
  <%= stylesheet_link_tag 'http://yandex.st/bootstrap/3.1.1/css/bootstrap.min.css' %>
  <%= javascript_include_tag 'http://yandex.st/bootstrap/3.1.1/js/bootstrap.min.js' %>
  
  <%= csrf_meta_tags %>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/jquery.scrolly.min.js"></script>
		<script src="js/jquery.scrollgress.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-wide.css" />
			<link rel="stylesheet" href="css/style-noscript.css" />
		</noscript>
		
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
	</head>
	<body class="contact">
		<!-- integração com aplicativo no facebook -->
		<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1424407041192104',
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
	
		<!-- Header -->
			<header id="header">
				<font size='4' >
					<a href="/"><img src="images/flag.png" widht="40px" height="40px" alt="www.cptcambio.com"></a>
					<% if session[:user_id] != nil %>
						  <% if session[:user_id] == current_user.id ;%>
						  <span>Seja bem vindo <b><%= label_tag username, nil, placeholder: username, disabled: true%></b>!</span>
						  <% end %>
						  <% else %>
						  <strong><a href="login">Visitante?</a></strong>
						  <% end %>
				</font>
				<nav id="nav">
					<ul>
						<% if session[:user_id] != nil %>
						<% if session[:user_id] == current_user.id ;%>
						<% if is_admin? == true %><li class='current'><%= link_to "Painel admin", :controller => 'admin', :action =>'home'%></li><% end%>
						<li class="submenu">
									<a href="/exchange"><b>Exchange</b></a>
									<ul>
										<li><a href="/exchange">Overview</a></li>
										<li><a href="/deposito">Depósito</a></li>
										<li><a href="/saque">Saque</a></li>
										<li><a href="/taxes">Taxas</a></li>
										<li><a href="/faq">FAQ</a></li>
									</ul>
								</li>
						<li class="current"><%= link_to "Inicio", :controller => 'sessions', :action =>'home'%></li>
						<li class= 'current'><a href='/store'>Loja</a></li>
						<li class='current'><a href='/contato'>Contato</a></li>
						<li class='current'><a href='/howto'>Como comprar</a></li>
						<% end %>
						<% else %>
						<li class="current"><a href="/">Inicio</a></li>
						<li class="current"><a href="/register">Registrar</a></li>
						<li class='current'><a href='/howto'>Como comprar</a></li>
						<% end%>
							
						<li>
						  <% if session[:user_id] != nil %>
						  <% if session[:user_id] == current_user.id ;%>
						  <a href="/logout" class="button special">Logout</a>
						  <% end %>
						  <% else %>
						  <a href="/login" class = "button special">Login</a>
						  <% end %>
						  
						</li>
						
					</ul>
					 
				</nav>
				<% if current_user != nil and (current_user.bitcoin != nil or current_user.ethereum != nil ) %>
				<div class="saldos">
					<% if current_user != nil and current_user.bitcoin != nil %>
					<img src="images/btc.png" width="20px" height="20px" alt="Bitcoin"> => <%= balance_btc_coinbase %>BTC
					<% end %>
					<% if current_user != nil and current_user.ethereum != nil %>
					<img src="images/eth.png" width="20px" height="20px" alt="Bitcoin"> => 0.00000000 ETH
					<% end %><br>
					<%= button_to "Transferir", "/transfer", :id => "transfer" %>
				</div>
				<% end %>
			
			</header>

<%= yield %>

</body>
</html>
