<!DOCTYPE html>
<html>
<head>
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<%= favicon_link_tag 'favicon.ico' %>
	<style>
	

table[id=black]{
  background: #14100C;
}
 font {
 	font-size: 17.9px;
 	font-family: "Times New Roman", Georgia, Serif;
 }
 form.button_to{
 	font-size: 13px;
 	width: 174=5px;
 	height: auto;
 	padding: 0px 0px;
 	border-radius: 2px;
 }

 article{
 	margin-top: -3%;
  background-color: #cccccc;
 }
 div[class=saldos]{
 	position: absolute;
 	background-color: white;
 	left: 0;
 	padding: 3px;
 	max-height: 310%;
 }
 div[class=errorspeech]{
 	  text-align: left;
 }
 td[id=width100dado]{
  
  background-size: 100%;
  background-repeat:no-repeat;
  background-image:url(images/casino_name.jpg);
  
}
table[id=width100tabela]{
  
  background-size: 100%;
  background-repeat:repeat-y;
  background-image:url(images/casino_bg.jpg);
  
}
li[type=saldo]{
	font-size:10px;
	
}
img[class=logo] {
    height: 150px;
    width: 150px;
    
}
li[class=li_bottom]{
	font-size:13.5px;
	
}
section[id=left]{
	position: static;
	
}
div[id=row]{
	position: relative;
	
}
li{
	padding: 5px;
}
li[class=li_bottom]{
	padding-top: 10px;
    padding-right: 105px;
    white-space: nowrap;
    
}
div[id=logofooter]{
	padding-left: 7%;
}
div[class="row"]{
		background-color: white;
		border: 1px solid;
    	border-radius: 5px;
    	padding-top: 5%;
    	font-size: 70%;
    	margin: 0 auto;
  		width: 100%;
		}
article[id=main2]{
 	background-image: url("images/dark-tl.svg"), url("images/dark-tr.svg"), url("images/dark-bl.svg"), url("images/dark-br.svg");
		background-position: top left, top right, bottom left, bottom right;
		background-repeat: no-repeat;
		background-size: 25em;
		padding-top: 7em;
 }
	</style>
  <title>Cripto câmbio</title>
  
  <%= javascript_include_tag 'application', 'exchange' %>
  <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
  <%= stylesheet_link_tag 'http://yandex.st/bootstrap/3.1.1/css/bootstrap.min.css' %>
  <%= javascript_include_tag 'http://yandex.st/bootstrap/3.1.1/js/bootstrap.min.js' %>
  
  <%= csrf_meta_tags %>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/jquery.scrolly.min.js"></script>
		<script src="js/jquery.scrollgress.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-wide.css" />
			<link rel="stylesheet" href="css/style-noscript.css" />
		</noscript>
		
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
	</head>
	<body class="contact">
		<!-- integração com aplicativo no facebook -->
		<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1424407041192104',
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
	
		<!-- Header -->
			<header id="header">
				<font size='4' >
					<a href="/"><img src="images/flag.png" widht="40px" height="40px" alt="www.cptcambio.com"></a>
					<% if session[:user_id] != nil %>
						  <% if session[:user_id] == current_user.id ;%>
						  <span>Seja bem vindo <b><%= label_tag username, nil, placeholder: username, disabled: true%></b>!</span>
						  <% end %>
						  <% else %>
						  <strong><a href="login">Visitante?</a></strong>
						  <% end %>
				</font>
				<nav id="nav">
					<ul>
						<% if session[:user_id] != nil %>
						<% if session[:user_id] == current_user.id ;%>
						<% if is_admin? == true %><li class='current'><%= link_to "Painel admin", :controller => 'admin', :action =>'home'%></li><% end%>
						<li class="submenu">
									<a href="/exchange"><b>Exchange</b></a>
									<ul>
										<li><a href="/exchange">Overview</a></li>
										<li><a href="/deposito">Depósito</a></li>
										<li><a href="/saque">Saque</a></li>
										<li><a href="/taxes">Taxas</a></li>
										<li><a href="/faq">FAQ</a></li>
									</ul>
								</li>
						<li class="current"><%= link_to "Inicio", :controller => 'sessions', :action =>'home'%></li>
						<li class= 'current'><a href='/store'>Loja</a></li>
						<li class='current'><a href='/howto'>Como comprar</a></li>
						<% end %>
						<% else %>
						<li class="current"><a href="/">Inicio</a></li>
						<li class="current"><a href="/register">Registrar</a></li>
						<li class='current'><a href='/howto'>Como comprar</a></li>
						<% end%>
							
						<li>
						  <% if session[:user_id] != nil %>
						  <% if session[:user_id] == current_user.id ;%>
						  <a href="/logout" class="button special">Logout</a>
						  <% end %>
						  <% else %>
						  <a href="/login" class = "button special">Login</a>
						  <% end %>
						  
						</li>
						
					</ul>
					 
				</nav>
				<div id="saldos" class="saldos">
				<%= render 'saldos' %>
			</div>
			</header>

<%= yield %>

<% if @hide != true %>
				<!-- Two -->
					<section style="width: 100%;" id="left">
						<div class="row" id="row">
							<div id="logofooter" class="col-sm-4 col-md-3 ">
			<div class="text-center">
				<img class="logo" src="/images/logo_bottom.png" alt="Logo Cripto Câmbio"><br>
				Cripto Câmbio exchange
				</div>
				</div>
							<div class="col-sm-6 col-md-2">
							
								<section>
									
									<header>
										<h3>Sobre</h3>
									</header>
									
										<ul>
							
							<li class="li_bottom"><a href="https://www.youtube.com/watch?v=N1NJbhxSr8E">O que é Bitcoin?</a></li>
							<li class="li_bottom"><a href="/exchange">Livro de Ordens</a></li>
							<li class="li_bottom"><a href="/store">Loja</a></li>
							<li class="li_bottom"><a href="https://www.bitcoinbrasil.com.br" target="_blank">Bitcoin Brasil</a></li>
							</ul>
								</section>
							
							</div>
							<div class="col-sm-3 col-md-3">
							
								<section>
									<header>
										<h3>Suporte</h3>
									</header>
									<ul>
											<li class="li_bottom"><a href="/faq">Perguntas Frequentes (FAQ)</a></li>
											<li class="li_bottom"><a href='/contato'>Contato</a></li>
											<li class="li_bottom"><a href="/taxes">Taxas, Comissões e Limites</a></li>
											<li class="li_bottom"><a href="/terms/">Termos de Uso</a></li>
											<li class="li_bottom"><a href="/privacidade/">Política de Privacidade</a></li>
											</ul>
								</section>
							
							</div>
							<div class="col-sm-3 col-md-3">
							
								<section>
									<header>
										<h3>Social</h3>
									</header>
									<a href="https://www.facebook.com/cripcambio/" title="Facebook" target="_blank"><i class="fa fa-facebook text-center"></i></a>
								</section>
							
							</div>
						</div>
					</section>
					</article>
					<% else %>
					
</article>
<% end %>


<!-- <footer id="footer" class="mb-blue">
	<div class="container"><div class="row top">
		<div class="col-sm-4 col-md-3 ">
			<div class="text-center">
				<img class="logo" src="/images/logo_bottom.png" alt="Logo Cripto Câmbio">
				</div>
				<div class="follow-us">
					<div class="col_title text-center">Social:</div>
					<ul class="follow-us">
						<div><a href="https://www.facebook.com/cripcambio/" title="Facebook" target="_blank"><i class="fa fa-facebook text-center"></i></a></div>
					</ul>
					</div></div>
						<div class="col-sm-4 col-md-2">
							<ul>
							<li class="col_title">Sobre</li>
							<li class="li_bottom"><a href="https://www.youtube.com/watch?v=N1NJbhxSr8E">o que é Bitcoin?</a></li>
							<li class="li_bottom"><a href="/exchange">negociações</a></li>
							<li class="li_bottom"><a href="/store">Loja</a></li>
							<li class="li_bottom"><a href="https://www.bitcoinbrasil.com.br" target="_blank">Bitcoin Brasil</a></li>
							</ul></div>
							<div class="clearfix visible-sm-block"></div>
							<div class="col-sm-4 col-md-2">
								<ul>
									<li class="col_title">Tecnologia</li>
									<li class="li_bottom"><a href="/seguranca/">Segurança</a></li>
									<li class="li_bottom"><a href="/api-doc/">API de Dados</a></li>
									<li class="li_bottom"><a href="/trade-api/">API de Negociações</a></li>
									<li class="li_bottom"><a href="https://status.mercadobitcoin.com.br" target="_blank">Status</a>
									</li></ul></div>
									<div class="col-sm-4 col-md-3">
										<ul>
											<li class="col_title">Suporte</li>
											<li class="li_bottom"><a href="/faq">Perguntas Frequentes (FAQ)</a></li>
											<li class="li_bottom"><a href='/contato'>Contato</a></li>
											<li class="li_bottom"><a href="/taxes">Taxas, Comissões e Limites</a></li>
											<li class="li_bottom"><a href="/terms/">Termos de Uso</a></li>
											<li class="li_bottom"><a href="/privacidade/">Política de Privacidade</a></li>
											</ul></div></div><div class="clearfix"></div></div>
											
											</footer>
											-->
</body>

</html>
